<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="LesnIm" lvs_jqexec="lvslesnim" style="width:100%;">
        <div class="MesListBox" lvs_bind="MessageList" lvs_elm="MesListBox">
        </div>
        <div class="flexbox OperateZone">
            <div class="flex1"><input type="text" class="MesInput" lvs_bind="MessageText" placeholder="需要讨论的内容" /></div>
            <a class="RoundButton" style="width:66px" lvs_elm="SendMesOk">发送</a>
        </div>
    </div>
</body>
</html>
