<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div lvs_component="cn_inputpara" lvs_jqexec="lvs_el_input">
    <div style="">
         <div class="el_input_box">  
            <input lvs_bind="InputText" type="text" placeholder="请输入内容"  style="margin-left:5px" />
            {{if clearable && clearable>0}}<img class="el_input_clear"  src="./icon/el_icon_close.png" style="display:none" />{{/if}}
        </div>
    </div>
</div>
</body>
</html>
