<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div lvs_component="cn_inputicon" lvs_jqexec="lvs_el_input">
    <div style="">
         <div class="el_input_box el_input_inner" style="{{if location && location=='right'}}background-position:98% center;{{/if}}{{if iconsrc && iconsrc!=''}}background-image:url('${iconsrc}');{{/if}}">            
            <input type="text"  placeholder="请输入" {{if location=='right'}}style="margin-left:5px;"{{/if}}/>
        </div>
    </div>
</div>
</body>
</html>
