<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <div class="demo_Title2" style="margin-top:100px" id="el_slider">带清除Input</div>
    <div class="demo_Description">clearable=1时，带清除按钮</div>
    <div class="demo_block" style="">
        <component name="cn.el_input.inputpara" data-clearable="1" ></component>
    </div>
    <div class="demo_Description">示例代码：<br />
        <textarea class="demo_Code" style="width:80%" >
            &lt;component name=&quot;cn.el_input.inputpara&quot; data-clearable=&quot;1&quot;&gt;&lt;/component&gt;
        </textarea>
    </div>
    <div class="demo_Description">输入数据说明：
        <table class="demo_Table" width="80%" border="1">
            <thead><td>输入数据名</td><td>说明</td><td>类型</td></thead>
            <tr><td>clearable</td><td>clearable=1时，带清除按钮</td><td>整数</td></tr>
        </table>
    </div>
    <div class="demo_Title2" style="margin-top:100px" id="Div1">带图标的Input</div>
     <div class="demo_Description">location控制图标左右位置；iconsrc控制图标的路径</div>
        <div class="demo_block" style="">
            <component name="cn.el_input.inputicon" data-iconsrc="./icon/el_icon_date.png" ></component>
        </div>
        <div class="demo_Description">示例代码：<br />
        <textarea class="demo_Code" style="width:80%" >
            &lt;component name=&quot;cn.el_input.inputicon&quot; data-iconsrc=&quot;./icon/el_icon_date.png&quot;&gt;&lt;/component&gt;
        </textarea>
    </div>
    <div class="demo_Description">输入数据说明：
        <table class="demo_Table" width="80%" border="1">
            <thead><td>输入数据名</td><td>说明</td><td>类型</td></thead>
            <tr><td>clearable</td><td>clearable=1时，带清除按钮</td><td>整数</td></tr>
            <tr><td>location</td><td>图标的位置;默认在左边，如果location="right"则图标在右边</td><td>字符</td></tr>
            <tr><td>iconsrc</td><td>图标的路径</td><td>字符</td></tr>

        </table>
    </div>
     
</body>
</html>
