<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_list_histories" lvs_jqexec="lvs_histories">
        {{if histories}}
            <div style="color:#8a8a8a;text-align:right" lvs_elm="GetMore">更多...</div>
        {{/if}}
        <div class="flexrow" lvs_elm="HeadHist">
            {{each(h,hisdata) histories}}
            <div class="colflex${colnum}" style="margin-top:8px">
                <div class="FlexItemBox" lvs_ref="router.${hisdata.idxtype}" idxid="${hisdata.idxid}">
                    <div class="HeadImg" perheit="57">
                        <img style="object-fit:cover" width="100%" src="${hisdata.favimg}" />
                    </div>
                    <div class="FlexDesc textwrap" title="${hisdata.remark}">${hisdata.remark}</div>
                </div>
            </div>
            {{/each}}
        </div>
        <div lvs_elm="MoreHist" style="display:none"></div>
        <div class="BaseTmpl" id="MoreHistTmpl" style="display:none">
            {{each(m,mhdata) hists}}
            <div class="FlexItemBox flexbox" style="width:100%;margin-left:0;margin-top:12px;" lvs_ref="router.${mhdata.idxtype}" idxid="${mhdata.idxid}" style="padding:12px">
                <img class="LitUserHead" src="${mhdata.favimg}" />
                <div class="flex1" style="text-align:left;padding:13px 0">${mhdata.remark}<span class="txt-grey float-right" style="font-size:13px">${mhdata.timestamp}</span></div>
            </div>
            {{/each}}
        </div>
    </div>
</body>
</html>
