<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn.dif.edu_tchdemo">
        <div class="demo_Title1" style="margin-top:50px" id="teacher_list">获得课程类数据接口 edu/course_list</div>
        <div class="demo_Description">获得课程类数据</div>
        <div class="demo_block" style="">
            edu/course_list接口中，根据gettype参数确定需要哪种格式的课程数据，不同的类型有不同的输入输出参数。
        </div>
        <div class="demo_Description">示例代码：<br />
            <textarea class="demo_Code" style="width:80%">
            </textarea>
        </div>
        <div class="demo_Description">数据说明：
            gettype=CrsList时输入参数
            <table class="demo_Table" width="80%" border="1">
                <thead><td>数据名称</td><td>说明</td><td>类型</td></thead>
            </table>
            gettype=CrsList时输出参数
            <table class="demo_Table" width="80%" border="1">
                <thead><td>数据名称</td><td>说明</td><td>类型</td></thead>
            </table>
        </div>
        <div class="demo_Title1" style="margin-top:50px" id="Div1">设置课程类数据接口 edu/course_set</div>
        <div class="demo_Description">设置课程类数据</div>
        <div class="demo_block" style="">
            edu/course_set接口中，根据opetype参数确定需要设置哪些课程数据，不同的类型有不同的输入输出参数。
        </div>
        <div class="demo_Description">示例代码：<br />
            <textarea class="demo_Code" style="width:80%">
            </textarea>
        </div>
        <div class="demo_Description">数据说明：
            opetype=Add时输入参数
            <table class="demo_Table" width="80%" border="1">
                <thead><td>数据名称</td><td>说明</td><td>类型</td></thead>
            </table>
            opetype=Add时输出参数
            <table class="demo_Table" width="80%" border="1">
                <thead><td>数据名称</td><td>说明</td><td>类型</td></thead>
            </table>
        </div>
    </div>

</body>
</html>
