<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_user_bloguser" lvs_jqexec="lvsbloguser">
        <div class="flexbox">
            <div class="padding">
                <img class="LitUserHead" src="${user.userimg}" />
            </div>
            <div class="flex1">
                <div class="BlogUserName padding">${user.name}</div>
                <div class="BlogUserDesc">${user.role}<span class="float-right"></span></div>
                <div class="BlogUserStat">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
