<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_el_slider" lvs_jqexec="lvs_el_slider">
    <div class="el_slider" style="">
        <div class="el_slider_runway">

            <div class="el_slider_bar" {{if curval}}style="width:{{if max}}${curval*100/max}%{{else}}${curval}%{{/if}}"{{/if}}> 
            </div>
            <div class = "el_slider_button_wrapper" {{if curval}}style="left:{{if max}}${curval*100/max}%{{else}}${curval}%{{/if}}"{{/if}}>
                <div class="el_slider_button"  ></div>   
            </div>            
        </div>  
    </div>
</div>
</body>
</html>
