<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_crsplan_martllist" lvs_jqexec="lvs_martl_list">
        <div lvs_elm="SimpTabIdx">
            <div class="SimpTab flexbox">
                <div class="SimpItem flex1" tabidx="pic">图片</div>
                <div class="SimpItem flex1" tabidx="video">视频</div>
                <div class="SimpItem flex1" tabidx="voice">语音</div>
                <div class="SimpItem flex1" tabidx="attch">附件</div>
                <div class="SimpItem flex1" tabidx="theme">题型</div>
                <div class="SimpItem flex1" tabidx="task">作业</div>
                <div class="SimpItem flex1" tabidx="elms">对象</div>
            </div>
            <div class="tabcontent SimpContent LineBoxPanel" tabcontainer="data">
            </div>
        </div>
    </div>
</body>
</html>
