<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_crsplan_pagetool" lvs_jqexec="lvspagetool">
        <div class="TooltipBox">
            <table width="100%"><tr>
                <td align="left" valign="middle">
                </td>
                <td align="center" valign="middle">
                    <img class="TooltipBut" title="添加文字" lvs_elm="AddText" src="../../Image/icon/addtext_b.png" />
                    <img class="TooltipBut" title="添加图片" lvs_elm="AddPicture" src="../../Image/icon/addpic_b.png" />
                    <img class="TooltipBut" title="添加表格" lvs_elm="AddTable" src="../../Image/icon/addtable_b.png" />
                    <img class="TooltipBut" title="添加文件附件" lvs_elm="AddAttach" src="../../Image/icon/addfile_b.png" />
                    <img class="TooltipBut" title="添加视频" lvs_elm="AddVideo" src="../../Image/icon/addvideo_b.png" />
                    <img class="TooltipBut" title="添加音频" lvs_elm="AddVoice" src="../../Image/icon/addvoice_b.png" />
                    <img class="TooltipBut" title="添加素材" lvs_elm="AddMatrl" src="../../Image/icon/addmatrl_b.png" />
                    &nbsp;&nbsp;
                    <img class="TooltipBut" title="添加单项选择题" lvs_elm="AddTheme" ttype="sigsel" src="../../Image/icon/addsigsel_b.png" />
                    <img class="TooltipBut" title="添加多项选择题" lvs_elm="AddTheme" ttype="multsel" src="../../Image/icon/addmultsel_b.png" />
                    <img class="TooltipBut" title="添加填空题" lvs_elm="AddTheme" ttype="blank" src="../../Image/icon/addblank_b.png" />
                    <img class="TooltipBut" title="添加问答题" lvs_elm="AddTheme" ttype="answer" src="../../Image/icon/addanswer_b.png" />
                    <img class="TooltipBut" title="添加作业纸" lvs_elm="AddPaper" ttype="workpaper" src="../../Image/icon/addpaper_b.png" />
                    <img class="TooltipBut" title="添加分组请求" lvs_elm="AddIntact" ttype="group" src="../../Image/icon/addobj_b.png" />
                    <img class="TooltipBut" title="添加分组收集成果" lvs_elm="AddIntact" ttype="groupres" src="../../Image/icon/paste_b.png" />
                    <img class="TooltipBut" title="添加计时器" lvs_elm="AddTimer" ttype="timer" src="../../Image/icon/timer_b.png" />
                </td>
                <td align="right" valign="middle">
                    
                </td>
            </tr></table>
        </div>
    </div>
</body>
</html>
