<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_crsplan_pagecard" lvs_jqexec="lvspagecard" pagetype="json" editmode="0">
        <div class="PageTabTitle">{{if type=='plan'}}讲义${seqid}{{else type=='check'}}检查{{else}}任务{{/if}}.${title}</div>
        <div lvs_elm="PageSpace" perheit="57" pagestr="${pagestr}" basename="${basename}"></div>
    </div>
</body>
</html>
