<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_tab_tab_demo" lvs_jqexec="lvs_tab_demo">
        <div class="demo_Title1" style="margin-top:50px" id="el_slider">简单选项卡组件</div>
        <div class="demo_Description"></div>
        <div class="demo_block" style="">
            <div style="width:50%">
                <component name="cn.tab.simptab" basedata="tabs:simptabs"></component>
            </div>
        </div>
        <div class="demo_Description">示例代码：<br />
            <input class="demo_Code" style="width:80%" type="text" value="<component name=&quot;cn.tab.simptab&quot; basedata=&quot;tabs:items&quot;></component>"/>
        </div>
        <div class="demo_Description">输入数据说明：
            <table class="demo_Table" width="80%" border="1">
                <thead><td>输入数据名</td><td>说明</td><td>类型</td></thead>
                <tr><td>tabs</td><td>选项卡数列</td><td>数组</td></tr>
                <tr><td>tabs[].tabidx</td><td>选项卡标记</td><td>整数</td></tr>
                <tr><td>tabs[].tabname</td><td>选项卡显示名称</td><td>字符串</td></tr>
                <tr><td>tabs[].htmltext</td><td>选项卡html内容</td><td>HTML格式字符串</td></tr>
            </table>
        </div>
        <div class="demo_Title1" style="margin-top:50px" id="MenuTab">菜单选项卡组件</div>
        <div class="demo_Title1" style="margin-top:50px" id="TagTab">标签选项卡组件</div>
    </div>
</body>
</html>
