<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_tab_tagtab" lvs_jqexec="lvstagtab" style="text-align:left;">
        <div class="TagItem TagItemAct" lvs_elm="TagItem" idxid="">全部</div>
        {{each(t,tagdata) tags}}
        <div class="TagItem" lvs_elm="TagItem" idxid="${tagdata}">${tagdata}</div>
        {{/each}}
    </div>
</body>
</html>
