<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="StyleSet" lvs_jqexec="lvsstyleset" class="SetPanel">
        <div class="StyleTitle">
            {{if type=='inner'}}内部元素设置
            {{else type=='theme'}}互动题目设置
            {{else type=='group'}}分组互动设置
            {{else type=='grpres'}}分组结果设置
            {{/if}}
        </div>
        <div style="width:96%;margin-left:2%;padding:8px 0;text-align:left">
        {{if ileft}}
        <div class="elerow"  style="margin-top:10px"> 
            <div class="cell-left">水平位置</div>
            <div class="cell-right">
                <input type="text" lvs_bind="left" value="${ileft}" style="width:156px;font-size:14px;height:26px;"/> 
            </div>
        </div>
        {{/if}}
        {{if itop}}
        <div class="elerow"  style="margin-top:10px"> 
            <div class="cell-left">垂直位置</div>
            <div class="cell-right">
                <input type="text" lvs_bind="top" value="${itop}" style="width:156px;font-size:14px;height:26px;"/> 
            </div>
        </div>
        {{/if}}
        <div class="elerow"  style="margin-top:10px"> 
            <div class="cell-left">宽度大小</div>
            <div class="cell-right">
                <input type="text" lvs_bind="width" value="${width}" style="width:156px;font-size:14px;height:26px;"/> 
            </div>
        </div>
        <div class="elerow"  style="margin-top:10px"> 
            <div class="cell-left">高度大小</div>
            <div class="cell-right">
                <input type="text" lvs_bind="height" value="${height}" style="width:156px;font-size:14px;height:26px;"/> 
            </div>
        </div>
       
        {{if fonttype}}
            <select class = "SelItem" lvs_bind="font-family" style="width:42%;margin-top:20px;" > 
                <option value = "Arial">Arial</option>
                <option value = "微软雅黑">微软雅黑</option>
                <option value = "宋体">宋体</option>
            </select>        
            <input type="text" lvs_bind="font-size" value="${fontsize}" style="width:40%"><br />
        {{else}}
            {{if fonttype}}
                <div class="cell-left">字体大小</div>
                <div class="cell-right">
                    <input type="text" lvs_bind="font-size" value="${fontsize}" style="width:156px;font-size:14px;height:26px;"/> 
                </div>
            {{/if}}
        {{/if}}
        {{if textalign}}
            <div class="TypeTab flexbox" lvs_bind="text-align" title="字体对齐">
              <div class="TypeItem {{if textalign=='left'}}active{{/if}}" idxid="left">
                <img class="i-icon" src="../image/icon/textAlignLeft2.png" style="width:30%;margin-top:5%;margin-bottom: 5%;">
              </div>
              <div class="TypeItem {{if textalign=='center'}}active{{/if}}" idxid="center">
                <img class="i-icon" src="../image/icon/textAligncenter2.png" style="width:30%;margin-top:5%;margin-bottom: 5%;">
              </div>
              <div class="TypeItem {{if textalign=='right'}}active{{/if}}" idxid="right">
                <img class="i-icon" src="../image/icon/textAlignright2.png" style="width:30%;margin-top:5%;margin-bottom: 5%;">
              </div>
            </div>
        {{/if}}            
        {{if ibold}}  
            <div class="CheckBtnRow flexbox">
                <div class ="BtnItem flex1 {{if fontweight}}{{if fontweight=='bold'}}active{{/if}}{{/if}}"  lvs_bind="font-weight" idxid="bold" value ="normal">
                    <img class="i-icon" src="../image/icon/bold.png" style="width:30%;margin-top:15%;margin-bottom: 15%;">
                </div>                                    
                <div class ="BtnItem flex1 {{if fontstyle}}{{if fontstyle=='italic'}}active{{/if}}{{/if}}"  lvs_bind="font-style" idxid="italic" value= "normal">
                    <img class="i-icon" src="../image/icon/italic.png" style="width:30%;margin-top:15%;margin-bottom: 15%;">
                </div> 
                <div class ="BtnItem flex1 {{if fontdecoration}}{{if fontdecoration=='underline'}}active{{/if}}{{/if}}"  lvs_bind="text-decoration" idxid="underline" value="none">
                    <img class="i-icon" src="../image/icon/underline.png" style="width:30%;margin-top:15%;margin-bottom: 15%;">
                </div>
            </div>             
        {{/if}}      
        {{if lineheight}}         
            <div class="elerow" style="">
                <div class="cell-left";style="">行间距</div>
                <div class="cell-right";style="">
                    <select class = "" lvs_bind="line-height" style="width:160px;font-size:14px;height:30px;text-align: left;border:1px solid #dadada;border-radius: 3px;" > 
                        <option value = "100%">1倍</option>
                        <option value = "150%">1.5倍</option>     
                        <option value = "200%">2倍</option>              
                    </select>  
                </div>
            </div>  
            <div class="elerow"  style="margin-top:10px"> 
                <div class="cell-left">字间距</div>
                <div class="cell-right">
                    <input type="text" lvs_bind="letter-spacing" value="${letterspacing}" style="width:156px;font-size:14px;height:26px;"/> 
                </div>
            </div>
        {{/if}}
        {{if color}}
        
        <div class="elerow"  >
            <div class="cell-left";style="">字体颜色</div>
            <div class="cell-right";>
                <input type="color" lvs_bind="color" value="${color}" style="width:160px;">       
            </div>
        </div>
        {{/if}}
        {{if itimer}}
        <div class="elerow" style="margin-top:10px">
            <div class="cell-left";style="">开始时间（秒）</div>
            <div class="cell-right";>
                <input type="number" lvs_bind="begsec" btype="attr" value="${begsec}" style="width:160px;">       
            </div>
        </div>
        <div class="elerow">
            <div class="cell-left">自动结束</div>
            <div class="cell-right">
                <component name="cn.button.checkbtn" id="EndtimeSwitch" lvs_bind="autoend" btype="attr" style="float:right;width:60%" data-isopen="{{if autoend>0}}on{{else}}off{{/if}}" data-onbox="#PlaysecOn" data-offbox="#PlaysecOff"></component>
            </div>
        </div>
        <div id="PlaysecOn" style="{{if autoend>0}}display:block{{else}}display:none{{/if}}">
            <div class="BaseDesc">定时器结束后自动翻页</div>
            <div class="elerow hiderow">
                <div class="cell-left";style="">播放时长（秒）</div>
                <div class="cell-right";style="">
                    <input type="number" lvs_bind="playsec" btype="attr" value="${playsec}" style="width:160px;">       
                </div>
            </div>
        </div>
        <div id="PlaysecOff" style="{{if playsec>0}}display:none{{else}}display:block{{/if}}">
            <div class="BaseDesc">定时器不结束，需手工翻页</div>
        {{/if}}
        {{if bgtype}}背景颜色：<br/>
        <div class ="SeleRow" >
            <select class = "InputItem" lvs_bind="bgtype"> 
                <option value = "1">纯色填充</option>
                <option value = "2">图片填充</option>
                <option value = "3">渐变填充</option>
            </select>            
            <input lvs_elm="bgtype1" class="InputItem BgtypeItem" type="color" lvs_bind="background-color" value="{{if bgcolor}}${bgcolor}{{else}}#ffffff{{/if}}" style="margin-left:20px;{{if bgtype!=1}}display:none;{{/if}}"/><br />
           

            <div lvs_elm="bgtype2" class=" BgtypeItem pic"  lvs_bind="background-img" style="{{if bgtype!=2}}display:none;{{/if}}background:url('${bgimage}') no-repeat center center/cover">
                +
            </div>
            <div lvs_elm="bgtype3" class="BgtypeItem" style="{{if bgtype!=3}}display:none;{{/if}}">
                起始颜色：<input type="color" lvs_bind="start-color" value="{{if startcolor}}${startcolor}{{else}}#ffffff{{/if}}" /><br />
                结束颜色：<input type="color" lvs_bind="end-color" value="{{if endcolor}}${endcolor}{{else}}#ffffff{{/if}}" /><br />
                渐变方向：<select class = "InputItem" lvs_bind="gradienttype"> 
                    <option value = "to right">从左到右</option>
                    <option value = "to bottom">从上到下</option>
                    <option value = "to bottom right ">对角渐变</option>
                </select>    
            </div>          
        </div>
        <div class="CheckBtnRow flexbox">
            <div class ="SingleBtn flex1"  lvs_bind="bgAll" lvs_elm="ApplyAll" idxid="" value ="">应用到全部</div>                
         </div>    
        {{else bgcolor}}            
            <div class="elerow"  >
                <div class="cell-left";style="">背景颜色</div>
                <div class="cell-right";>
                    <input type="color" lvs_bind="background-color" value="${bgcolor}" style="width:160px;">       
                </div>
            </div>
        {{/if}}
        
        {{if bordercolor}}
            <div class="elecontainer" style="width:250px;height:30px;">
                <div class="elerow">
                    <div class="" style="width:30%;float:left;text-align:left;">启用边框</div>
                    <div class="" style="width:65%;float:right;">
                        <component name="cn.button.checkbtn" id="BorderSwitch" style="float:right;width:60%" data-isopen="{{if borderwidth>0}}on{{else}}off{{/if}}" data-onbox="#BorderOn" data-offbox="#BorderOff"></component>
                    </div>
                </div>
                <div id="BorderOn" style="{{if borderwidth>0}}display:block{{else}}display:none{{/if}}">
                    <div class="elerow hiderow">
                        <div class="cell-left";style="">边框样式</div>
                        <div class="cell-right";style="">
                            <select class = "" lvs_bind="border-style" style="width:160px;font-size:14px;height:30px;text-align: left;border:1px solid #dadada;border-radius: 3px;" > 
                                <option value = "solid">实线边框</option>
                                <option value = "dashed">虚线边框</option>                  
                            </select>  
                        </div>
                    </div>
                    <div class="elerow hiderow">
                        <div class="cell-left";style="">边框颜色</div>
                        <div class="cell-right";>
                            <input type="color" lvs_bind="border-color" value="${bordercolor}" style="width:160px;">       
                        </div>
                    </div>
                    <div class="elerow"> 
                        <div class="cell-left">边框粗细</div>
                        <div class="cell-right">
                            <input type="text" lvs_bind="border-width" value="${borderwidth}" style="width:156px;font-size:14px;height:26px;"/> 
                        </div>
                    </div>
                    <div class="elerow"> 
                        <div class="cell-left">圆角大小</div>
                        <div class="cell-right">
                            <input type="text" lvs_bind="border-radius" value="${borderradius}" style="width:156px;font-size:14px;height:26px;"/> 
                        </div>
                    </div>
                </div>
                <div id="BorderOff" style="{{if borderwidth==0}}display:none{{else}}display:block{{/if}}">
                </div>
            </div>  
        {{/if}}
        {{if 0}}边框颜色：<input type="color" lvs_bind="border-color" value="${bordercolor}" /><br />{{/if}}
        {{if bgimage}}背景图片：<div class="PicFile" lvs_bind="background-image"><img width="100%" src="${bgimage}" /></div>{{/if}}
        {{if ismatrl}}<a class="button bg-blue" lvs_elm="SaveMatrl" idxtype="${type}">存为素材</a>{{/if}}
        {{if isdel}}{{if isdel>0}}<br /><br /><a class="button bg-red" lvs_elm="DelElm">删除{{if type=='text'}}文字{{else type=='image'}}图像{{else type=='voice'}}音频{{else type=='video'}}视频{{else type=='file'}}文件{{else type=='theme'}}题目{{/if}}</a>{{/if}}{{/if}}
        </div>
        <div class="BaseForm" id="SaveMatrlForm" style="display:none">
            <div class="BaseDesc">素材名称：</div>
            <div class="BaseInput"><input type="text" lvs_bind="matrlname" /></div>
            <div class="BaseDesc">项目内共享：</div>
            <div class="TypeTab flexbox" lvs_bind="isshare"><div class="TypeItem flex1 active" lvs_ref="tab.SelPanel" idxid="0">不共享</div><div class="TypeItem flex1" lvs_ref="tab.SelPanel" idxid="0">共享使用</div></div>
            <div class="BaseDesc"><a class="FormOk button bg-green">确定保存</a><a class="FormCancel button bg-grey">取消操作</a></div>
        </div>
    </div>
</body>
</html>
