<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_play_swfplay" lvs_jqexec="lvs_play_swf" lvs_elm="swfplay">
        <div id="SwfPlayer${id}" style="width:100%;height:500px"></div>
        <div lvs_elm="StartAudio" class="button border-green">播放</div>
        <div lvs_elm="StopAudio" class="button border-red">停止</div>
    </div>
</body>
</html>
