<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_form_imginput" lvs_jqexec="lvs_form_imginput">
        <div class="flexbox">
            <div class="flex1" lvs_elm="InputBox" {{if readonly}}{{else}}contenteditable="true"{{/if}}></div>
            <img width="32px" height="32px" src="../../Image/add.png" />
        </div>
    </div>
</body>
</html>
