<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_jqexec="lvsmultsel">
        {{if title}}
        <div class="PageThemeBox" style="font-size:1em">
            <div class="ThemeTitle flexbox">
                <div class="Editable ThemeTitleEdit htmlformat" contenteditable="true" lvs_bind="title" style="{{if titlefont}}font-size:${titlefont};{{/if}}{{if titlecolor}}color:${titlecolor};{{/if}}width:80%">{{if title}}${title}{{else}}选择题{{/if}}</div>
            </div>
            <div style="text-align:left;height:48px;line-height:48px">题干内容：<span class="float-right"><a lvs_elm="AddThemeImg" class="button bg-grey"><img width="16px" height="16px" style="vertical-align:middle" src="../../Image/poster_ico.png" />插入图片</a></span></div>
            <div class="ThemeProblem Editable htmlformat" contenteditable="true" lvs_bind="problem" style="{{if problemfont}}font-size:${problemfont};{{/if}}{{if problemcolor}}color:${problemcolor};{{/if}}min-height:80px;">{{if problem}}${problem}{{else}}请输入题目{{/if}}</div>
            <div class="ThemeOption" lvs_bind="option" style="{{if optionfont}}font-size:${optionfont};{{/if}}{{if optioncolor}}color:${optioncolor};{{/if}}">
                备选项：<span class="OptionAdd Clicktable" lvs_elm="OptionAdd"><img class="TinyUserHead" src="../../Image/add.png" style="vertical-align:middle" />添加</span>
                <div lvs_elm="OptionList">
                {{if options}}
                {{each(o,optdata) options}}
                    <div class="OptionItem flex1" lvs_bind="option${o}"><span class="OptionX" lvs_bind="optionseqid">${optdata.seqid}</span>.<span lvs_bind="optiontext" class="Editable htmlformat" opt="${o}" contenteditable="true" style="width:60%;display:inline-block">${optdata.opttext}</span><a class="button bg-grey" lvs_elm="AddOptImg" idxid="${o}"><img width="16px" height="16px" style="vertical-align:middle" src="../../Image/poster_ico.png" />插入图片</a>{{if optdata.optimg}}<span lvs_bind="optionimg"><img height="60px" src="${optdata.optimg}" /></span>{{/if}}<span class="float-right"><img class="Clicktable" lvs_elm="DelOption" src="../../Image/del.gif" /></span></div>
                {{/each}}
                {{else}}
                    <div class="OptionItem"><span class="OptionX" lvs_bind="optionseqid">A</span>.<span lvs_bind="optiontext" opt="0" class="Editable htmlformat" contenteditable="true" style="width:60%;display:inline-block">选项一</span><a class="button bg-grey" lvs_elm="AddOptImg" idxid="0"><img width="16px" height="16px" style="vertical-align:middle" src="../../Image/poster_ico.png" />插入图片</a><span class="float-right"><img lvs_elm="DelOption" src="../../Image/del.gif"  class="Clicktable"/></span></div>
                    <div class="OptionItem"><span class="OptionX" lvs_bind="optionseqid">B</span>.<span lvs_bind="optiontext" opt="1" class="Editable htmlformat" contenteditable="true" style="width:60%;display:inline-block">选项二</span><a class="button bg-grey" lvs_elm="AddOptImg" idxid="1"><img width="16px" height="16px" style="vertical-align:middle" src="../../Image/poster_ico.png" />插入图片</a><span class="float-right"><img lvs_elm="DelOption" src="../../Image/del.gif"  class="Clicktable"/></span></div>
                    <div class="OptionItem"><span class="OptionX" lvs_bind="optionseqid">C</span>.<span lvs_bind="optiontext" opt="2" class="Editable htmlformat" contenteditable="true" style="width:60%;display:inline-block">选项三</span><a class="button bg-grey" lvs_elm="AddOptImg" idxid="2"><img width="16px" height="16px" style="vertical-align:middle" src="../../Image/poster_ico.png" />插入图片</a><span class="float-right"><img lvs_elm="DelOption" src="../../Image/del.gif"  class="Clicktable"/></span></div>
                    <div class="OptionItem"><span class="OptionX" lvs_bind="optionseqid">D</span>.<span lvs_bind="optiontext" opt="3" class="Editable htmlformat" contenteditable="true" style="width:60%;display:inline-block">选项四</span><a class="button bg-grey" lvs_elm="AddOptImg" idxid="3"><img width="16px" height="16px" style="vertical-align:middle" src="../../Image/poster_ico.png" />插入图片</a><span class="float-right"><img lvs_elm="DelOption" src="../../Image/del.gif"  class="Clicktable"/></span></div>
                {{/if}}
                </div>
            </div>
            <div class="ThemeAnswer" style="text-align:left">标准答案：<span lvs_elm="ansoptions">{{if options}}{{each(b,ansdata) options}}<span class="OptionSeling {{if baseanswer}}{{if ansdata.seqid==baseanswer}}OptionSeled{{/if}}{{/if}}">${ansdata.seqid}</span>{{/each}}{{else}}<span class="OptionSeling">A</span><span class="OptionSeling">B</span><span class="OptionSeling">C</span><span class="OptionSeling">D</span>{{/if}}</span><span lvs_bind="baseanswer" class="float-right">${baseanswer}</span></div>
            <div><a class="FormOk button bg-green">保存作业题</a><a class="FormCancel button bg-grey">取消操作</a></div>
        </div>
        <div class="BaseForm" id="ThemeImgForm${seqid}" style="display:none">
        </div>
        {{else align}}
        <div class="BaseTmpl" id="ThemeImgTmpl" style="display:none">
            <div class="BaseDesc">图片对齐模式：</div>
            <div class="TypeTab flexbox" lvs_bind="textalign"><div class="TypeItem flex1 {{if align=='left'||align==''}}active{{/if}}" idxid="left" lvs_ref="tab.SelPanel">靠左</div><div class="TypeItem flex1 {{if align=='center'}}active{{/if}}" idxid="center" lvs_ref="tab.SelPanel">居中</div><div class="TypeItem flex1 {{if align=='right'}}active{{/if}}" idxid="right" lvs_ref="tab.SelPanel">靠右</div></div>
            <div class="BaseDesc">图片大小（%）：</div>
            <div class="BaseInput"><input type="number" lvs_bind="imgwidth" value="${imgwidth}" /></div>
            <div class="BaseDesc"><a class="FormOk button bg-green">确认设置</a><a class="FormCancel button bg-grey">取消操作</a></div>
        </div>
        {{/if}}
    </div>
</body>
</html>
