<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div lvs_jqexec="lvs_basefile" lvs_component="cn_theme_basefile" idxid="{{if files}}${files}{{else}}${id}{{/if}}">
    <div class="flexbox">
        <div class="flex1" style="text-align:left">
            {{if fileurl}}{{if fileurl!=''}}<div class="ListDesc" lvs_elm="BaseFile">文件：${resfile}</div>{{/if}}{{/if}}
            {{if filelist}}
            {{each(f,fldata) filelist}}
            <div class="ListDesc AnsFile">{{if preview}}<a lvs_elm="PreviewFile" dataidx="${f}">文件：${fldata.resfile}</a>{{/if}}{{if delevt}}<a lvs_elm="DelFile" dataidx="${f}"><img width="14px" height="14px" style="vertical-align:middle;cursor:pointer;margin-left:8px" src="../../Image/del.gif"/></a>{{/if}}<span class="float-right"><a lvs_elm="DownFile" dataidx="${f}">下载</a></span></div>
            {{/each}}
            {{/if}}
        </div>
        {{if preview}}
        <div style="width:40%;margin-left:40px" lvs_elm="PreviewPanel"></div>
        {{/if}}
    </div>
    {{if editmode}}
    <a class="button border-green" lvs_elm="AddAttach">重新上传文件</a><a class="button border-yellow" lvs_elm="AddVideo">重新上传视频</a>
    <div class="BaseDesc">说明：重新上传的文件将覆盖原文件</div>
    {{/if}}
</div>
</body>
</html>
