<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="BlankInp" lvs_jqexec="lvsblankinp" class="PageThemeBox">
        <div class="ThemeTitle">{{if title!=''}}${title}{{else}}填空题{{/if}}</div>
        {{if score}}<div class="ThemeDesc">${score}分</div>{{/if}}
        <div class="ThemeOpe"><a lvs_elm="ShowTheme" class="button bg-grey Clicktable">查看题目</a></div>
        <div class="ThmPanelBox" style="display:none">
            <div class="ThemeTitle flexbox">
                <div class="PropertyText Editable flex1 ThemeTitleEdit" contenteditable="true" lvs_bind="title" style="{{if titlefont}}font-size:${titlefont};{{/if}}{{if titlecolor}}color:${titlecolor};{{/if}}">{{if title}}${title}{{else}}填空题{{/if}}</div>
                <div style="width:36px;text-align:center"><img width="24px" height="24px" lvs_elm="ClosePanel" src="../../Image/close.png" /></div>
            </div>
            <div class="ThemeProblem PropertyText Editable" contenteditable="true" lvs_bind="problem" style="{{if problemfont}}font-size:${problemfont};{{/if}}{{if problemcolor}}color:${problemcolor};{{/if}}">{{if problem}}${problem}{{else}}请输入题目{{/if}}</div>
            <div class="BaseDesc" style="font-size: 14px;text-align: left">注：需要填空的位置直接输入“____”下划线即可</div>
            <div class="ThemeAnswer"style="text-align: left">参考答案：</div>
            <div class="ThemeAnswer Editable" style="font-size: 12px;text-align: left"contenteditable="true" lvs_bind="baseanswer">{{if baseanswer}}${baseanswer}{{else}}参考答案{{/if}}</div>
        </div>
    </div>
</body>
</html>
