<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_cls_tchtask" lvs_jqexec="lvs_cls_tchtask">
        <div style="text-align:left">
            <component name="cn.cls.selclasses" basedata="list:crses"></component>
        </div>
        <div class="flexbox" style="padding:12px 0">
                <div style="width:240px" class="CrsLeftList">
                    <div class="CrsLeftListBox" lvs_elm="ClsCrsTmplList"></div>
                </div>
                <div class="flex1">
                    <div lvs_elm="ClsCrsTmplBox" style="margin-left:12px"></div>
                </div>
        </div>
    </div>
</body>
</html>
