.TeamHeadBack
{
    background-image:url('../../Image/club/teambak.png');
    background-repeat:no-repeat;
    background-position:center top;
    background-size:100%;
}
.TeamListItem
{
    width:90%;
    margin-top:12px;
    margin-left:5%;
    background-color:White;
    border-radius:5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    color:#3d6fb2;
    font-size:14px;
    padding:8px 12px;
}
.GamesPanel
{
    background-image:linear-gradient(0deg, #7bc4fb 0%,#a0d5fd 30%, #add8fa 70%, #dceffd 100%);
    color:#2A2A2A;
    border:#7bc4fb 1px solid;
    border-radius:8px 8px 0 0;
    overflow:hidden;
    width:96%;
    margin-left:2%;
    margin-top:12px;
}
.MatchListPanel
{
    border:#7bc4fb 1px solid;
    width:96%;
    margin-left:2%;
    text-align:center;
}
.MatchListPanel .MatchListItem
{
    margin-top:12px;
    background-color:White;
    border-radius:5px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    color:#4A4A4A;
    font-size:14px;
    padding:8px 12px;
}
.MatchListBox .MatchListItem
{
    margin-top:12px;
    background-color:White;
    border-radius:5px;
    width:96%;
    margin-left:2%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    color:#4A4A4A;
    font-size:14px;
    padding:8px 0px;
    text-align:center;
}
.MatchListBox .MatchListItem .Title
{
    font-size:16px;
    padding:8px 0;
}
.MatchListBox .MatchListItem .GamesDesc
{
    font-size:10px;
    padding:5px 0;
    letter-spacing:1px;
    color:#8a8a8a;
}
.GamesBox
{
    padding:16px 5px;
    text-align:center;
}
.SlidePanel
{
    width:100%;
    overflow:auto;
}
::-webkit-scrollbar {width:3px;background:rgba(200,200,200,0.5)}
.MemberBox
{
    width:92%;
    margin-left:4%;
    background-color:White;
    border:#c2ffcf 1px solid;
    box-shadow: 0 .125rem .25rem rgba(0,23,0,.075);
    border-radius:6px;
    text-align:center;
}
.MemberBox .MemberHead
{
    width:80%;
    margin-left:10%;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:100% 100%;
    border-radius:999px;
    border:White 3px solid;
}
.MemberBox .MemberCloth
{
    display:inline-block;
    width:30px;
    height:30px;
    background-image:url('../../Image/clo_blue.png');
    background-position:center center;
    background-size:100% 100%;
    background-repeat:no-repeat;
    line-height:30px;
    font-size:14px;
    text-align:center;
    color:White;
    margin-top:60%;
    margin-left:70%;
}
.MemberBox .MemberTitle
{
    padding:6px 8px;
    color:#4a4a4a;
    font-size:16px;
    text-align:center;
}
.MemberBox .MemberDesc
{
    padding:8px 6px;
    color:#8a8a8a;
    font-size:10px;
    text-align:center;
}
.MemberBox .MemberStatus
{
    display:inline-block;
    padding:3px 5px;
    background-color:#98acf4;
    border-radius:0 99px 99px 0;
    float:left;
    color:#4a4a4a;
    font-size:12px;
    margin-top:-30px;
}
.MemberBox .MemberCard
{
    background-color:#7be080;
}

.HonorList
{
    background-color:White;
    width:90%;
    margin-left:5%;
    padding:12px 0;
    margin-top:12px;
    border:#fafafa 1px solid;
    border-radius:8px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);    
}
.HonorList .HonorHead
{
    width:80%;
    margin-left:10%;
}
.HonorList .HonorTitle
{
    font-size:15px;
    color:#4a4a4a;
    letter-spacing:1px;
    text-shadow:0 0 5px #fed497;
}
.HonorList .HonorLitTitle
{
    padding:8px 0;
    font-size:13px;
    color:#995d07;
}
.HonorList .HonorDesc
{
    color:#8a8a8a;
    font-size:11px;
}
.BaseHonorBox .HonorTitle
{
    font-size:15px;
    color:#4a4a4a;
    letter-spacing:1px;
    text-shadow:0 0 5px #fed497;
    padding:6px 0;
}
.BaseHonorBox .HonorDesc
{
    font-size:11px;
    color:#6a6a6a;
    letter-spacing:1px;
}
.BaseBox
{
    padding:6px 0;
    width:96%;
    margin-left:2%;
}
.BaseBox .BaseTitle
{
    padding:6px 0;
    font-size:15px;
    color:#4a4a4a;
    background-image:linear-gradient(180deg,#cacaca 0%, #fafafa 15%, #dadada 30%, #eaeaea 70%, #dadada 100%);
}
.BaseBox .BaseList
{
    background-color:White;
    padding:12px 0;
    margin-top:12px;
    border:#fafafa 1px solid;
    border-radius:8px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}
.BaseBox .BaseList .ListTitle
{
    margin-left:6px;
    padding:6px 0;
    color:#4a4a4a;
    font-size:15px;
    letter-spacing:1px;
}
.BaseBox .BaseList .ListDesc
{
    margin-left:6px;
    padding:6px 0;
    color:#8a8a8a;
    font-size:12px;
    letter-spacing:0.6px;
}
.BaseBox .BaseList .ListStatus
{
    float:right;
    display:inline-block;
    padding:3px 6px;
    border-radius:5px 0 0 5px;
    background-image:linear-gradient(135deg,#b4c6fb 0%, #8fabfa 100%);
}
.MemChkBox
{
    text-align:center;
    width:92%;
    margin-left:4%;
    margin-top:10px;
    border:#dadada 1px solid;
    border-radius:5px;
    background-color:White;
    padding:8px 0;
    cursor:pointer;
}
.MemChkBox .MemChkImg
{
    border-radius:999px;
    border:#caeafa 3px solid;
    vertical-align:bottom;
    object-fit:cover;
}
.MemChkBox .MemCloTitle
{
    display:inline-block;
    padding:0 8px;
    border-radius:8px 8px 4px 4px;
    background-color:#04a1fb;
    border:White 1px solid;
    color:White;
    font-size:14px;
    font-weight:bold;
    text-align:center;
    margin-left:-30px;
    margin-top:24px;
}
.MemChkBox .MemNameTitle
{
    padding:8px 0;
    color:#4a4a4a;
    font-size:16px;
    letter-spacing:1px;
}
.MemChkBox .MemDesc
{
    padding:6px 0;
    color:#8a8a8a;
    font-size:12px;
}

.BaseClubTitle
{
    background-image:linear-gradient(180deg,#8fb4f8 0%,#e4edfc 2%,#94baff 5%,#c1d7fe 45%,#e8effb 100%);
    padding-bottom:3px;
    margin-top:12px;
}
.BaseClubTitle .BaseText
{
    display:inline-block;
    padding:6px 12px;
    margin-left:12px;
    background-image:linear-gradient(180deg,#fff 0%,#eaeaea 50%,#fff 0%);
    color:#0d4ec5;
    font-size:15px;
    text-shadow:1px 1px 2px rgba(255,236,178,0.5);
    border-radius:0 0 8px 8px;
}
.BaseClubBody
{
    width:92%;
    margin-left:4%;
    margin-top:12px;
}

 .Selecting{font-size:11pt;color:#4A4A4A;border:#dadada 1px solid;border-radius:5px;padding:3px 0;text-align:center;margin:5px 0 0 5px}
 .MultSelecting{font-size:11pt;color:#4A4A4A;background-color:White;border:#dadada 1px solid;border-radius:5px;padding:3px 8px;text-align:center;margin:5px 0 0 5px;background-image:url('../../Image/unchecked.png');background-repeat:no-repeat;background-size:8px 8px;background-position:3px center}
 .Selected{background-color:#daecff!important;background-image:url('../../Image/right_ok_b.png');background-position:right top;background-repeat:no-repeat;border:#356fa5 1px solid;color:Red;}
 .MultSelected{background-color:#daecff;background-image:url('../../Image/right_ok_b.png');background-position:right top;background-repeat:no-repeat;border:#356fa5 1px solid;color:Red;}
