<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_club_teamlist" lvs_jqexec="lvs_club_teamlist">
        {{each(t,tmdata) teams}}
        <div class="TeamListItem" lvs_elm="TeamDef" idxid="${tmdata.id}">
            <img width="16px" height="16px" class="TinyUserHead" src="${tmdata.teamlogo}" style="vertical-align:middle"/>
            ${tmdata.teamname}{{if tmdata.honors}}{{each(h,hndata) tmdata.honors}}<img width="12px" height="12px" style="vertical-align:middle" src="../../Image/star_1.png" />{{/each}}{{/if}}
            <span class="float-right"><img width="12px" height="12px" src="../../Image/meeting.png" style="vertical-align:middle" />${tmdata.memnum}</span>
        </div>
        {{/each}}
    </div>
</body>
</html>
