<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_button_button_demo" lvs_jqexec="lvs_button_demo">
        <div class="demo_Title1" style="margin-top:50px" id="el_slider">开关按钮</div>
        <div class="demo_Description">带有属性值的开关按钮</div>
        <div class="demo_block" style="">
            <div style="width:10%">
                <component name="cn.button.checkbtn" data-isopen="on"></component>
            </div>
        </div>
        <div class="demo_Description">示例代码：<br />
            <input class="demo_Code" style="width:80%" type="text" value="<component name=&quot;cn.button.checkbtn&quot; data-isopen=&quot;on&quot;></component>"/>
        </div>
        <div class="demo_Description">输入数据说明：
            <table class="demo_Table" width="80%" border="1">
                <thead><td>输入数据名</td><td>说明</td><td>类型</td></thead>
                <tr><td>isopen</td><td>开关按钮缺省状态</td><td>枚举：on-打开，off-关闭</td></tr>
            </table>
        </div>
        <div class="demo_Title1" style="margin-top:50px" id="Div1">点赞按钮</div>
        <div class="demo_Title1" style="margin-top:50px" id="Div2">评价分数组件</div>
        <div class="demo_Title1" style="margin-top:50px" id="Div3">序列化选择组件</div>
        <div class="demo_Title1" style="margin-top:50px" id="Div4">标签选择</div>
    </div>
</body>
</html>
