<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_button_checkbtn" lvs_jqexec="lvscheckbtn">
        <div class="contentBox">
            <div class="btnBox" {{if isopen=='on'}}style="background-color:#238212;"{{/if}}>
                <div class="slidbtn" style="{{if isopen=='off'}}left:-1px{{else}}right:-1px;{{/if}}" idxid="" isopen="${isopen}"></div>
            </div>
        </div>  
    </div>
</body>
</html>
