<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <span lvs_component="cn_button_grant" lvs_jqexec="lvsbuttongrant">
        <img width="${width}px" lvs_bind="grantimg" height="${width}px" src="{{if isgranted}}../../Image/granted.png{{else}}../../Image/grant.png{{/if}}" style="vertical-align:middle;margin-right:2px"/>
        <span lvs_bind="grantnum">${grantnum}</span>赞
    </span>
</body>
</html>
