<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />

  <title>title</title>

</head>
<body>

<div lvs_component="cn.draw.draw" lvs_jqexec="lvs_draw">

  <div id="wPaint" style="position:relative; width:200px; height:200px; background:#fff;"></div>
  <label for="imgInput" class="button border-green" style="display: none">上传图片
    <input type="file" id="imgInput" style="display: none">
  </label>

</div>

  <style>
    body, html {
      margin: 0px;
      overflow: hidden;
    }
  </style>


</body>
</html>