<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div lvs_component="cn_mapDrill_cnMapDemo">
        <div class="demo_Title1" style="margin-top:100px" id="Div1">地图组件</div>
        <div class="demo_Description">地图</div>
        <div class="demo_Description"></div>
        <div class="demo_block" style="">
            <component name="cn.mapDrill.cnMap" ></component>
        </div>
        <div class="demo_Description">示例代码：<br />
            <textarea class="demo_Code" style="width:80%" >
                    &lt;component name=&quot;cn.mapDrill.cnMap&quot; &gt;&lt;/component&gt;
                </textarea>
        </div>
        <div class="demo_Description">输入数据说明：
            <table class="demo_Table" width="80%" border="1">
                <thead><td>输入数据名</td><td>说明</td><td>类型</td></thead>
                <tr><td>curdata.data</td><td>tooltip显示内容</td><td>键值对</td></tr>
                <tr><td>curdata.data.name</td><td>数据关联的城市名</td><td>字符串</td></tr>
                <tr><td>curdata.data.value</td><td>数据值</td><td>字符串</td></tr>

            </table>
        </div>
    </div>
</body>
</html>