<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <style>
        /** {*/
        /*    margin: 0;*/
        /*    padding: 0;*/
        /*}*/

        .echarts-map {
            /*position: fixed;*/
            /*top: 0;*/
            /*left: 0;*/
            width: 800px;
            height: 800px;
        }
    </style>
</head>
<body>
    <div lvs_component="cn.mapDrill.cnMap" lvs_jqexec="lvs_cnMap">
        <div class="echarts-map" id="3dMap"></div>
    </div>
</body>
</html>