<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_animate_flying" lvs_jqexec="lvs_animate_flying" class="FlyBox">
        <div class="FlyToBottom" style="bottom:-50px;background-image:url('../../Image/grow_serv.png')"></div>
        <div class="FlyToTop" style="bottom:-50px;background-image:url('../../Image/grow_reg.png')"></div>
    </div>
</body>
</html>
