<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<div lvs_component="cn_elcolor_color" lvs_jqexec="lvscolorpicker">
    <div class="el_color_picker">
        <div class="el_color_picker_trigger" style="">
            <span class="el_color_picker_color">
                <img src="./icon/el_icon_close1.png" style="width: 50%;position: relative;top: 25%;"/>
            </span>
        </div>
    </div>
    <div class="el_color_picker_panel el_color_dropdown" style="display:none">
        <div class="el_color_dropdown_main_wrapper">
            <div class="el_color_hue_slider_vertical " style="float:right;">
                <div class="el_color_hue_slider_bar">
                    <div class="el_color_hue_slider_thumb" style=""></div>
                </div>
            </div>
            <div class="el_color_svpanel" style="background-color: rgb(255, 0, 0);">
                <div class="el_color_svpanel_white">
                <div class="el_color_svpanel_black"></div>
                </div>
                <div class="el_color_svpanel_cursor" style="top: 46px; left: 127px;"></div>
            </div>
        </div>
        <!-- 按钮栏 -->
        <div class="ew-color-drop-container">
            <input class="ew-color-input" />
            <div class="ew-color-drop-btn-group">
                 <button type="button" class="ew-color-drop-btn ew-color-clear">清空</button>
                 <button type="button" class="ew-color-drop-btn ew-color-sure">确定</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
