.el_picker_panel {
    color: #606266;
    border: 1px solid #e4e7ed;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    background: #fff;
    border-radius: 4px;
    line-height: 30px;
    margin: 5px 0;
    width: 322px;
}

.el_date_picker_header {
    margin: 12px;
    text-align: center;
    
}

.el_picker_panel_content 
{
    
    width: 292px;
    position: relative;
    margin: 15px;
}

.el_picker_panel_icon_btn 
{
    height:25px;
    font-size: 12px;
    color: #303133;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;
   padding:3px 3px;
     vertical-align:middle;
}

.el_date_picker_prev_btn {
    float: left;
}

.el_date_picker_next_btn {
    float: right;
}

.el_date_picker_header_label {
    font-size: 16px;
    padding: 0 5px;
  
    height:25px;
    text-align: center;
    cursor: pointer;
    color: #606266;
     vertical-align:middle;
}


.el_date_table {
    font-size: 12px;
    user-select: none;
    width: 100%;
}
.el_date_table th 
{
   
    padding: 5px;
    color: #606266;
    font-weight: 400;
    border-bottom: 1px solid #ebeef5;
    text-align: center; 
}

.el_date_table td.next_month, .el_date_table td.prev_month {
    color: #c0c4cc;
}

.el_date_table td.today{
position:relative;
color:#409EFF !important;
font-weight:700
}
.el_date_table td.end_date{
color:#FFF}
.el_date_table td.start_date{
color:#FFF}
.el_date_table td.available:hover{
color:#409EFF}
.el_date_table td.available{
color:#606266}


.el_date_table td.end_date,.el_date_table td.start_date {
background-color:#409EFF;
color:#fff !important}
.el_date_table td.in_range{
background-color:#F2F6FC}



.el_date_table th{
padding:5px;color:#606266;font-weight:400;border-bottom:solid 1px #EBEEF5}

.el_date_table td {
    width: 32px;
    height: 30px;
    padding: 4px 0;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    position: relative;
}
td {
    display: table-cell;
    vertical-align: inherit;
}

.el_year_table {
    font-size: 12px;
    margin: -1px;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

.el_year_table td {
    text-align: center;
    padding: 20px 3px;
    cursor: pointer;
}
.el_year_table td.todayYear{
position:relative;
color:#409EFF;
font-weight:700
}
.el_year_table td.available:hover{
color:#409EFF}

.el_month_table {
    font-size: 12px;
    margin: -1px;
    border-collapse: collapse;
    text-align:center;
    table-layout: fixed;
    width: 100%;
}
.el_month_table td {
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
}
.el_month_table td .cell {
    width: 60px;
    height: 36px;
    display: block;
    line-height: 36px;
    color: #606266;
    margin: 0 auto;
    border-radius: 18px;
}
.el_month_table td.todayMonth{
position:relative;
color:#409EFF;
font-weight:700
}
.el_month_table td.available:hover{
color:#409EFF}

.el_range_separator {
    display: inline-block;
    height: 100%;
    padding: 0 5px;
    margin: 0;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    width: 5%;
    color: #303133;
}

.el_date_rangepicker_body {
    min-width: 513px;
}
.el_date_rangepicker_content.is_left {
    border-right: 1px solid #e4e4e4;
}
.el_date_rangepicker_content {
    float: left;
    width: 50%;
    box-sizing: border-box;
    margin: 0;
    padding: 8px;
}
.el_date_rangepicker_header {
      position: relative;
    text-align: center;
    height: 28px;
}
.el_date_rangepicker_header_label {
    font-size: 16px;
    padding: 0 5px;
    line-height:30px;
    height:25px;
    text-align: center;
    cursor: pointer;
    color: #606266;
     vertical-align:middle;
}
.el_date_rangepicker table {
    table-layout: fixed;
    width: 100%;
}
