<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_el_search" lvs_jqexec="lvs_el_search">
    <div class="el_search" style="">
        <div class="el_input_box  el_input_inner" style="background-image:none">
            <input class="" lvs_bind="SearchData" type="text"  placeholder="请输入"  style="margin-left:5%;width:85%;font-size:14px"/>
            <img class="el_input_clear"  src="./icon/el_icon_close.png"  style="display:none" />
        </div>
    </div>
    <div class="el_search_panel" style="display:none" >
        
    </div>
       
    </div>
    
  
</body>
</html>
