<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    
    <div class="demo_Title2" style="margin-top:100px" id="el_slider">模糊匹配</div>
    <div class="demo_Description">输入关键字进行选择（需要修改将数据分离出来）</div>
    <div class="demo_block" style="">
        <component name="cn.el_search.el_search" ></component>
    </div>
    <div class="demo_Description">示例代码：<br />
        <textarea class="demo_Code" style="width:80%" >
            &lt;component name=&quot;cn.el_search.el_search&quot; &gt;&lt;/component&gt;
        </textarea>
    </div>
    <div class="demo_Description">输入数据说明：
        <table class="demo_Table" width="80%" border="1">
            <thead><td>输入数据名</td><td>说明</td><td>类型</td></thead>
            <tr><td> </td><td> </td><td> </td></tr>
        </table>
    </div>

    
</body>
</html>
