<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_el_cascader" lvs_jqexec="lvs_el_cascader">
    <div class="el_cascader" style="">
        <div class="el_input_box  el_input_inner" style="background-image:none">
            <input class="" lvs_bind="SelectData" type="text"  placeholder="请选择"  style="margin-left:5%;width:85%;font-size:14px"/>
            <img class="el_input_down"  src="./icon/el_icon_arrow_down.png"   />
        </div>
    </div>
    <div class="el_cascader_panel" style="display:none">
         <div class="el_cascader_menu_wrap el_cascader_menu_list" style="border:solid 1px red;" id="menu0" levelid="0">
            <ul class="el_scrollbar_view el_cascader_menu_list">
                <li class="el_cascader_node" style="" >
                    <span class="el_cascader_node_label">江苏</span>
                     <img class="el_icon_right"  src="./icon/el_icon_right.png"  />
                </li>
                <li class="el_cascader_node" style="" >
                     <span class="el_cascader_node_label">新疆维吾尔族自治区</span>
                     <img class="el_icon_right"  src="./icon/el_icon_right.png"  />
                </li>
                <li class="el_cascader_node" style="" >
                    <span class="el_cascader_node_label">上海</span>
                    <img class="el_icon_right"  src="./icon/el_icon_right.png"  />
                </li>
                 <li class="el_cascader_node" style="" >
                    <span class="el_cascader_node_label">浙江</span>
                    <img class="el_icon_right"  src="./icon/el_icon_right.png"  />
                </li>
                <li class="el_cascader_node" style="" >
                    <span class="el_cascader_node_label">浙江</span>
                    <img class="el_icon_right"  src="./icon/el_icon_right.png"  />
                </li>
            </ul>
            
        </div>
         <div class="el_cascader_menu_wrap el_cascader_menu_list" style="display:none" id="menu1" levelid="1">
      
            
        </div>
        <div class="el_cascader_menu_wrap el_cascader_menu_list" style="display:none;" id="menu2" levelid="2"></div>
        <div class="el_cascader_menu_wrap el_cascader_menu_list" style="display:none;" id="menu3" levelid="3"></div>
    </div>
    </div>
  

</body>
</html>
