body {
    width:100%;
    margin:0 0 0 0;
    background-color:#f3f8ff;
    font-family:微软雅黑;
    text-align:center;
}
a
{
	text-decoration:none;
	color:#6666ff;
	cursor:pointer;
}
a :hover
{
	text-decoration:underline;
	color:#3333ff;
}
a img
{
    border-width:0;
}
div[lvs_ref]
{
    cursor:pointer;
}
span[lvs_ref]
{
    cursor:pointer;
}
.HeadMenu
{
    position:fixed;
    top:0;
    width:100%;
    height:70px;
    background-image:url('../Image/fedu/headback.png');
    background-size:1920px;
    background-position:center top;
    font-size:10pt;
    overflow:hidden;
}
.HeadLogo
{
    height:36px;
    margin-top:17px;
    margin-bottom:17px;
}
.MainBody
{
    width:92%;
    margin-left:4%;
    min-height:600px;
}
.MainFoot
{
    width:80%;
    margin-left:10%;
    min-height:600px;
}
.HeaderMask
{
    height:70px;
    width:100%;
}
.UserHead
{
    width:80px;
    height:80px;
    border:White 3px solid;
    border-radius:9999px;
    object-fit:cover;
}
.LitUserHead
{
    width:40px;
    height:40px;
    border:White 3px solid;
    border-radius:9999px;
    object-fit:cover;
}
.TinyUserHead
{
    width:30px;
    height:30px;
    border:White 3px solid;
    object-fit:cover;
    border-radius:9999px;
}

.MainMenuItem
{
    font-size:11pt;
    text-align:center;
    height:100%;
}
.MainMenuAct
{
    background-color:#36b9ff;
    font-weight:bold;
    color:White;
}
.PageBox 
{
    padding-top:10%;
    padding-bottom:5%;
}
.PageBox .Title{ color:#36b9ff;font-size:16pt}
.ChaptHead{margin:8px 8px 8px 8px;border:#e2e2e2 1px solid;border-radius:15px 0 0 0;background-color:White;text-align:left}
.ChaptHead .HeadInfo{ padding:6px 6px 6px 6px;border-bottom:#e2e2e2 1px solid }
.ChaptBody{margin:0 8px 0 8px; padding:8px 8px 8px 8px;border:#e2e2e2 1px solid;background-color:White;text-align:left}
.ChaptBody .ChaptDesc{padding:5px 5px 5px 5px;border:#c2c2c2 1px solid;border-radius:5px;background-color:#fdfae9}
.ChaptBody .ArticleText{margin-top:3px;font-size:11pt;}
.ChaptFoot{margin:8px 8px 8px 8px;border:#e2e2e2 1px solid;border-radius:0 0 0 15px;background-color:White;text-align:left}
.ChaptHead .Title{padding:8px 8px 8px 8px;font-size:18pt;}
.ChaptHead .LitTitle{padding:2px 8px 2px 8px;font-size:12pt;color:#888888}
.RightBox{margin:8px 8px 8px 0;border:#e2e2e2 1px solid;border-radius:0 15px 15px 0;background-color:White;text-align:left;width:100%}
.RightBox .RightTitle{ padding: 8px  8px 8px 8px;font-size:12pt;border-bottom:#e2e2e2 1px solid;}
.RightBox .RightBody{ padding:5px 5px 5px 5px;height:50%;overflow:hidden;_height:300px;min-height:300px;max-height:50%}
.RightBox .RightBody .RightList{ padding:5px 0 5px 0;font-size:9pt;border-bottom:#e2e2e2 1px solid}
.MoreListBox{ margin:8px 8px 8px 8px;border:#e2e2e2 1px solid;border-radius:15px 15px 0 0;background-color:White;text-align:left}
.MoreListBox .Title{ padding:8px 8px 8px 8px;border-bottom:#e2e2e2 1px solid;font-size:12pt}
.MoreListBox .Body{ padding:8px 8px 8px 8px}
.MoreListBox .BaseList{ border-bottom:#f2f2f2 1px solid}
.MoreListBox .BaseList .Desc{ color:#888888; font-size:10pt}
        .BaseListBox{margin:8px;border:#c2c2c2 1px solid;background-color:White}
        .BaseListBox .Title{ padding: 12px;border-bottom:#e2e2e2 1px solid;text-align:left }
        .BaseListBox .Title .PreTitle{    background-color:#4577d4;    border-radius:9999px;    color:#4577d4;    margin-right:5px;}
        .BaseListBox .BaseListItem{ padding:12px 8px 8px 8px;border-bottom:#f2f2f2 1px solid; text-align:left; }
        .BaseListBox .BaseListItem .HeadBack{ width:80px;height:80px;padding:5px 5px 5px 5px;background-color:#d2dfff;border-radius:6px;border-left:#5f7edd 3px solid}
        .BaseListBox .BaseListItem .HeadName{ font-size:14pt; padding:3px }
        .BaseListBox .BaseListItem .HeadDesc{ font-size:9pt; color:#aaaaaa; padding:3px }
        .LineBox{ margin:12px;border-radius:12px;text-align:left;border:#82a2f2 1p solid;box-shadow:2px 2px 2px 2px rgba(180,210,255,0.5);overflow:hidden}
        .LineBox .MidText{ margin-top:40%; margin-left:5px; margin-right:5px}
        .LineBox .Title{ padding:12px;font-size:15pt;}
        .LineBox .LitTitle{ padding: 5px 5px 5px 12px }
        .LineBox .Body{ padding: 3px 0 3px 12px;font-size:10pt}
        .LineBox .LineList{ padding:10px;border-bottom:#e2f2ff 1px solid;font-size:10pt}
        .DotBox{ border:#e2e2e2 1px solid;border-radius:12px; padding:0;overflow:hidden;margin:8px }
        .DotBox .Title{ font-size:10pt;margin-left:5px margin-top:5px}
        .DotBox .Body{ margin-left:5px;margin-top:3px;}
        .DotBox .Tips{ border-radius:12px 0 0 12px;color:#a2a2a2;font-size:8pt;padding:2px 5px 2px 5px;border:#e2e2e2 1px solid;background-color:White}

.DialogHead
{
    margin-top:3px;
    background-image:url('../Image/dlghead.jpg');
    background-repeat:repeat-x;
    width:100%;
    height:32px;
    line-height:32px;
    font-size:14pt;
    padding-left:5px;
    border-top-left-radius:5px 5px;
    border-top-right-radius:5px 5px;
}
.DialogBody
{
    border-left:#dadaff 2px solid;
    background-color:White;
    background-position:top;
    font-size:12pt;
    padding:5px 5px 5px 5px;
}
.DialogFoot
{
    background-image:url('../Image/dlgfoot.gif');
    background-repeat:repeat-x;
    width:100%;
    height:9px;
    border-bottom-left-radius:5px 5px;
    border-bottom-right-radius:5px 5px;
}
.TitleImg
{
    margin:5px 5px 5px 5px;
    border:#e2e2e2 8px solid;
}
.lvs-form-input
{
    width:99%;
    font-size:12pt;
    border-radius:3px;
    background-image:url('../Image/inputbk.gif');
    background-repeat:repeat-x;
    height:28px;
    border-top:#e0f0fe 1px solid;
    border-left:#a0c0ce 1px solid;
    border-right:#e0f0fe 1px solid;
    border-bottom:#80a0ae 1px solid;
}
.lvs-form-select
{
    background-image:url('../Image/selbk.gif');
    background-position:right;
    background-repeat:no-repeat;
}
.lvs-form-textarea
{
    width:99%;
    font-size:11pt;
    border-radius:3px;
    background-image:url('../Image/inputbk.gif');
    background-repeat:repeat;
    height:120px;
    border-top:#e0f0fe 1px solid;
    border-left:#a0c0ce 1px solid;
    border-right:#e0f0fe 1px solid;
    border-bottom:#80a0ae 1px solid;
}
.lvs-form-binput
{
    width:99%;
    font-size:13pt;
    border-radius:3px;
    margin:3px 2px 3px 2px;
    background-color:White;
    height:28px;
    border:#d0d0d0 1px solid;
}
.lvs-form-greytext
{
    width:99%;
    font-size:11pt;
    border-radius:3px;
    background-image:url('../Image/greybk.gif');
    background-repeat:repeat;
    height:120px;
    border-top:#e0e0e0 1px solid;
    border-left:#e0e0e0 1px solid;
    border-right:#e0e0e0 1px solid;
    border-bottom:#808080 1px solid;
}
.TipContainer
{
    background-color:Black;
    color:White;
    text-align:center;
    font-size:14pt;
    padding:8px 0 8px 0;
}
.BaseHeadBox
{
    background-color:White;
    border-top:#e2e2e2 1px solid;
    border-left:#e2e2e2 1px solid;
    border-right:#e2e2e2 3px solid;
    border-bottom:#e2e2e2 3px solid;
    border-radius:5px;
    padding:5px 5px 5px 5px;
    margin-bottom:5px;
}
.BaseHeadBox .Title
{
    font-size:12pt;
    color:#484848;
    padding:5px 2px 5px 2px;
    margin-bottom:6px;
}
.BaseHeadBox .Body
{
    font-size:10pt;
    color:#484848;
    padding:3px 2px 3px 2px;
}
.BaseHeadBox .PreTitle
{
    background-color:#4577d4;
    border-radius:9999px;
    color:#4577d4;
    margin-right:5px;
}
.MenuTab
{
    padding:8px 8px 8px 8px;
    border-top:#e2e2e2 1px solid;
    margin-top:10px;
    height:40px;
    line-height:40px;
}
.MenuTab .MenuItem
{
    font-size:10pt;
    color:#6a6a6a;
    border-right:#d7d7d7 1px solid;
    text-align:center;
}
.MenuTab .vactive
{
    font-weight:bold;
    border-bottom:#4577d4 3px solid;
}
.BaseTable
{
    width:100%;
    border-top:#dadada 0.5px solid;
    border-left:#dadada 0.5px solid;
    border-right:#dadada 1px solid;
    border-bottom:#dadada 1px solid;
    box-shadow:1px 1px 2px rgba(160,180,200,0.5);
    border-radius:2px;
    border-collapse:collapse;
}
.BaseTable thead
{
    text-align:center;
    font-weight:bold;
    padding:8px 0;
    line-height:160%;
    letter-spacing:1px;
    font-size:15px;
    background-color:#eaeaea;
}
.BaseTable .GreyTr
{
    background-color:#FAFBFF;
}
.BaseTable .GreyTr td
{
    border-right:White 1px solid!important;
    border:#eaeaea 0.5px solid;
}
.BaseTable td
{
    padding:5px 3px;
    border:#eaeaea 0.5px solid;
    font-size:14px;
}
.BaseTable tr th
{
    border:#dadada 0.5px solid;
    padding:5px 2px;
}

.Selecting
{
    padding:6px 3px 6px 3px;
    border-left:#e2e2e2 1px solid;
    border-top:#e2e2e2 1px solid;
    border-right:#e2e2e2 2px solid;
    border-bottom:#e2e2e2 2px solid;
    border-radius:3px;
    text-align:center;
}
.Selected
{
    background-color:#83a6ff;
    border-left:#5386ef 1px solid;
    border-top:#5386ef 1px solid;
    border-right:#5386ef 2px solid;
    border-bottom:#5386ef 2px solid;
    color:White;
}
.BaseText
{
    padding:10px 10px 10px 10px;
    font-size:10pt;
    color:#404040;
}
.ReplyText
{
    margin-left:30px;
    background-color:#f0f0f0;
    padding:10px 10px 10px 10px;
    font-size:10pt;
    color:#808080;
}
.SelItemBox
{
    background-color:#e2e2e2;
    border:#d0d0d0 1px solid;
    padding:5px 3px 5px 3px;
    text-align:left;
}
.SelItemBox .SelItem
{
    border-bottom:#d0d0d0 1px solid;
    padding:5px 5px 5px 5px;
}
.SubItemBox
{
    background-color:#e2e2e2;
    border:#d0d0d0 1px solid;
    padding:5px 3px 5px 3px;
    text-align:left;
}
.SubItemBox .SubItem
{
    border-bottom:#d0d0d0 1px solid;
    padding:5px 5px 5px 5px;
}
.Checked
{
    width:24px;
    height:24px;
    background-image: url('../Image/ok.png');
    margin-left:5px;
    margin-right:5px;
    display:inline-block;
}
.Uncheck
{
    width:24px;
    height:24px;
    background-image:url('../Image/unchecked.png');
    margin-left:5px;
    margin-right:5px;
    display:inline-block;
}
.BaseList
{ 
    padding:12px 12px 12px 12px;
    margin-bottom:12px;
    border-bottom:#e2e2e2 1px solid 
}
.BaseList .Title
{ 
    margin-bottom:6px
}
.TextDiv{ font-size:10pt;line-height:150%;margin-top:8px;padding:8px}
.TextImg{ margin-top:8px;padding:8px;width:98%; border:#e7e7e7 1px solid}
        .LoginBox{ padding:18px;border-radius:12px; border:e2e2e2 1px solid;box-shadow:2px 2px 2px 2px rgba(200,200,200,0.3);background-color:White;text-align:center }
        .HeadTab{    margin:5px 5px 5px 5px;    font-size:12pt;}
        .HeadTab .TabItem{    padding:8px 2px 8px 2px;    color:Grey}
        .HeadTab .active{    border-bottom:#5386ef 2px solid;    color:#5386ef;}
        .LeftHalf{    position:fixed;    left:0;    top:60px;    width:50%;    height:100%;    border-right:#e2e2e2 1px solid;    overflow:auto;}
        .RightHalf{    margin-left:50%;    margin-top:60px;    text-align:left;}

        .DialogBox{border-radius:8px;border-left:#c2c2ff 1px solid;border-top:#c2c2ff 1px solid;border-right:#c2c2ff 1px solid;border-bottom:#c2c2ff 1px solid;font-size:11pt;background-color:White;text-align:left;overflow:hidden;}
        .DialogBox .HeadTitle{background-image: linear-gradient(71deg, #2747AA 0%, #819CCA 97%);font-size:14pt;color:White;text-align:center;padding:5px 2px 5px 2px}
        .DialogBox .Body{padding:12px 12px 12px 12px;background-image:linear-gradient(170deg,#320927 0%, #d750af 100%);color:White;}
.FootMask{ width:100%;height:40px }
.FootMenu{ position:fixed;z-index:2001;bottom:0;width:100%;height:40px;border-top:#f2f2ff 1px solid; line-height:40px;font-size:10pt;background-color:White}
.FootMenu .FootMenuItem{ border-right:#f2f2f2 1px solid;color:#424242;}
.FootMenu .FootMenuAct{ font-weight:bold; color:#5386ef}