<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_elchart_chart_demo" lvs_jqexec="lvs_chart_demo">
        <div class="demo_Title1" style="margin-top:100px" id="Div1">图表展示</div>
        <div class="demo_Description">根据数据生成对应不同类型的图表</div>
        <div class="demo_Title2" style="margin-top:100px" id="el_slider">柱状图</div>
        <div class="demo_Description"></div>
        <div class="demo_block" style="">
            <component name="cn.elchart.elchart" basedata="chart:barchart"></component>
        </div>
        <div class="demo_Description">示例代码：<br />
            <textarea class="demo_Code" style="width:80%" >
                &lt;component name=&quot;cn.elchart.elchart&quot; &gt;&lt;/component&gt;
            </textarea>
        </div>
        <div class="demo_Description">输入数据说明：
            <table class="demo_Table" width="80%" border="1">
                <thead><td>输入数据名</td><td>说明</td><td>类型</td></thead>
                <tr><td>bardata.title</td><td>图表名称</td><td>文本</td></tr>
                <tr><td>bardata.xAxis</td><td>x轴的内容 </td><td>name:名称(字符)；type：类型；data：数据串; </td></tr>
                <tr><td>bardata.yAxis</td><td>x轴的内容 </td><td>name:名称(字符)；type：类型；data：数据串；max最大；min最小 </td></tr>
                <tr><td>bardata.series[]</td><td>具体的图表数据 </td><td>name:名称(字符)；data：数据串 </td></tr>
            </table>
        </div>
        <div class="demo_Title2" style="margin-top:100px" id="Div2">折线图</div>
        <div class="demo_Description"></div>
        <div class="demo_block" style="">
             <component name="cn.elchart.elchart" basedata="chart:linechart">
        </div>
        <div class="demo_Description">示例代码：<br />
            <textarea class="demo_Code" style="width:80%" >
                &lt;component name=&quot;cn.elchart.elchart&quot; &gt;&lt;/component&gt;
            </textarea>
        </div>
        <div class="demo_Description">输入数据说明：
            <table class="demo_Table" width="80%" border="1">
                <thead><td>输入数据名</td><td>说明</td><td>类型</td></thead>
                <tr><td>bardata.title</td><td>图表名称</td><td>文本</td></tr>
                <tr><td>bardata.xAxis</td><td>x轴的内容 </td><td>name:名称(字符)；type：类型；data：数据串 </td></tr>
                <tr><td>bardata.yAxis</td><td>x轴的内容 </td><td>name:名称(字符)；type：类型；data：数据串 </td></tr>
                <tr><td>bardata.series[]</td><td>具体的图表数据 </td><td>name:名称(字符)；type：line(字符标明为柱状图)；data：数据串 </td></tr>
            </table>
        </div>
        <div class="demo_Title2" style="margin-top:100px" id="Div3">饼图</div>
        <div class="demo_Description"></div>
        <div class="demo_block" style="">
             <component name="cn.elchart.elchart" basedata="chart:piechart">
        </div>
        <div class="demo_Description">示例代码：<br />
            <textarea class="demo_Code" style="width:80%" >
                &lt;component name=&quot;cn.elchart.elchart&quot; &gt;&lt;/component&gt;
            </textarea>
        </div>
        <div class="demo_Description">输入数据说明：
            <table class="demo_Table" width="80%" border="1">
                <thead><td>输入数据名</td><td>说明</td><td>类型</td></thead>
                <tr><td>bardata.title</td><td>图表名称</td><td>文本</td></tr>
                <tr><td>bardata.xAxis</td><td>x轴的内容 </td><td>name:名称(字符)；type：类型；data：数据串 </td></tr>
                <tr><td>bardata.yAxis</td><td>x轴的内容 </td><td>name:名称(字符)；type：类型；data：数据串 </td></tr>
                <tr><td>bardata.series[]</td><td>具体的图表数据 </td><td>name:名称(字符)；type：line(字符标明为柱状图)；data：数据串 </td></tr>
            </table>
        </div>
         <div class="demo_Title2" style="margin-top:100px" id="Div4">雷达图</div>
        <div class="demo_Description"></div>
        <div class="demo_block" style="">
             <component name="cn.elchart.elchart" basedata="chart:radarchart">
        </div>
        <div class="demo_Description">示例代码：<br />
            <textarea class="demo_Code" style="width:80%" >
                &lt;component name=&quot;cn.elchart.elchart&quot; &gt;&lt;/component&gt;
            </textarea>
        </div>
        <div class="demo_Description">输入数据说明：
            <table class="demo_Table" width="80%" border="1">
                <thead><td>输入数据名</td><td>说明</td><td>类型</td></thead>
                <tr><td>bardata.title</td><td>图表名称</td><td>文本</td></tr>
                <tr><td>bardata.xAxis</td><td>x轴的内容 </td><td>name:名称(字符)；type：类型；data：数据串 </td></tr>
                <tr><td>bardata.yAxis</td><td>x轴的内容 </td><td>name:名称(字符)；type：类型；data：数据串 </td></tr>
                <tr><td>bardata.series[]</td><td>具体的图表数据 </td><td>name:名称(字符)；type：line(字符标明为柱状图)；data：数据串 </td></tr>
            </table>
        </div>
          <div class="demo_Title2" style="margin-top:100px" id="Div5">仪表盘</div>
        <div class="demo_Description"></div>
        <div class="demo_block" style="">
             <component name="cn.elchart.elchart" basedata="chart:gaugechart">
        </div>
        <div class="demo_Description">示例代码：<br />
            <textarea class="demo_Code" style="width:80%" >
                &lt;component name=&quot;cn.elchart.elchart&quot; &gt;&lt;/component&gt;
            </textarea>
        </div>
        <div class="demo_Description">输入数据说明：
            <table class="demo_Table" width="80%" border="1">
                <thead><td>输入数据名</td><td>说明</td><td>类型</td></thead>
                <tr><td>bardata.title</td><td>图表名称</td><td>文本</td></tr>
                <tr><td>bardata.xAxis</td><td>x轴的内容 </td><td>name:名称(字符)；type：类型；data：数据串 </td></tr>
                <tr><td>bardata.yAxis</td><td>x轴的内容 </td><td>name:名称(字符)；type：类型；data：数据串 </td></tr>
                <tr><td>bardata.series[]</td><td>具体的图表数据 </td><td>name:名称(字符)；type：line(字符标明为柱状图)；data：数据串 </td></tr>
            </table>
        </div>
    </div>
</body>
</html>
