<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
     <div class="demo_Title1" style="margin-top:100px" id="Div1">省市区选择</div>
    <div class="demo_Description">省市区一级一级选择</div>
    <div class="demo_Title2" style="margin-top:100px" id="el_slider">省市区选择Tab方式</div>
    <div class="demo_Description">用tab方式选择</div>
    <div class="demo_block" style="">
        <component name="cn.el_city.el_city"  data-level="3"></component>
    </div>
    <div class="demo_Description">示例代码：<br />
        <textarea class="demo_Code" style="width:80%" >
            &lt;component name=&quot;cn.el_city.el_city&quot; data-level=&quot;3&quot; &gt;&lt;/component&gt;
        </textarea>
    </div>
    <div class="demo_Description">输入数据说明：
        <table class="demo_Table" width="80%" border="1">
            <thead><td>输入数据名</td><td>说明</td><td>类型</td></thead>
            <tr><td>level</td><td>表明有几级数据，最大为3 </td><td>整数 </td></tr>
        </table>
    </div>

      <div class="demo_Title2" style="margin-top:100px" id="Div2">省市区选择下拉方式</div>
    <div class="demo_Description">通过下拉框选择</div>
    <div class="demo_block" style="">
        <component name="cn.el_city.el_cityselect"  ></component>
    </div>
    <div class="demo_Description">示例代码：<br />
        <textarea class="demo_Code" style="width:80%" >
            &lt;component name=&quot;cn.el_city.el_cityselect&quot; &gt;&lt;/component&gt;
        </textarea>
    </div>
    <div class="demo_Description">输入数据说明：
        <table class="demo_Table" width="80%" border="1">
            <thead><td>输入数据名</td><td>说明</td><td>类型</td></thead>
            <tr><td> </td><td> </td><td> </td></tr>
        </table>
    </div>
     
</body>
</html>
