<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_mayi_company" lvs_jqexec="lvs_mayi_info">    
        <img width="100%" src="../../Image/mayi/company_head.jpg" class="TransPic"/>
        <div class="MayiBigTitle">深耕铸就品质&nbsp;&nbsp;创新决胜未来</div>
        <div class="MayiCenDesc">南京恩加网络技术有限公司成立于2016年，专注于提供优质实用的网络产品研发及应用服务，通过对在线教育、音视频服务、云电脑系统、网络安全等领域的深耕及积累，形成了可以为客户提供完善解决方案的多领域产品体系。公司骨干团队均来源于中兴通讯、华为技术、爱立信、烽火等企业的管理层及技术专家，具有丰富的大型项目研发管理经验及高精尖技术研发能力，为客户提供高质保量的技术产品和研发服务。</div>
        <div class="MayiTabBox flexbox">
            <div class="MayiTabItem flex1 active" lvs_ref="tab.SelPanel" idxid="1">发展历程</div>
            <div class="MayiTabItem flex1" lvs_ref="tab.SelPanel" idxid="2">核心成员</div>
            <div class="MayiTabItem flex1" lvs_ref="tab.SelPanel" idxid="3">公司结构</div>
            <div class="MayiTabItem flex1" lvs_ref="tab.SelPanel" idxid="4">公司优势</div>
            <div class="MayiTabItem flex1" lvs_ref="tab.SelPanel" idxid="5">企业信条</div>
        </div>
        <div class="tabcontent" tabcontainer="1">
            <div class="flexbox" style="width:96%;margin-left:2%">
                <div class="flex1">
                    <div class="MayiTitle"><span class="PreTitle">.</span>公司成立</div>
                    <div class="MayiDesc"><b>2016</b>年，由前中兴通讯主管产品研发的管理干部牵头创立，并吸引多名中兴、华为、爱立信、烽火技术专家加盟。自主研发Fabolus架构快速搭建网络服务，经多年积累形成四大产品体系，在多个行业领域广泛应用。</div>
                    <div class="MayiTitle"><span class="PreTitle">.</span>公司发展</div>
                    <div class="MayiDesc"><b>2017</b>年，研发在线创新学习平台上线，活跃用户达到500万+级别。</div>
                    <div class="MayiDesc"><b>2019</b>年，研发在线音视频平台和人工智能学习产品上线，广泛应用于多个产品领域。</div>
                    <div class="MayiDesc"><b>2021</b>年，研发企业资产和办公安全云电脑系统，并推出云桌面+云终端系统解决方案，助力企业安全办公。</div>
                    <div class="MayiDesc"><b>2022</b>年，定制研发网络安全相关产品，广泛开展安全产品技术研究。</div>
                </div>
                <div style="width:40%">
                    <img width="96%" style="margin-left:4%" src="../../Image/mayi/company_off.jpg"  class="TransPic"/>
                </div>
            </div>
        </div>
        <div class="tabcontent" tabcontainer="2" style="display:none">
            <div class="flexbox" style="width:96%;margin-left:2%">
                <div class="flex1">
                    <div class="MayiTitle"><span class="PreTitle">.</span>李海鹏</div>
                    <div class="MayiTitle"><span class="PreTitle">.</span>总经理&nbsp;&nbsp;&nbsp;联合创始人</div>
                    <div class="MayiDesc">中兴通讯工作18年，在万门程控交换机、接入服务器、软交换、核心网多个产品线历任测试科长、开发科长、开发经理、项目经理、开发部长、产品总经理等关键岗位。在新产品研发过程中积极探索、勇于创新，共获得12项发明专利，其中5项国际发明专利。</div>
                    <div class="MayiTitle"><span class="PreTitle">.</span>主要贡献</div>
                    <div class="MayiDesc"><span class="BaseTag">Fabolus架构发明者</span><span class="BaseTag">创新学习平台架构师</span><span class="BaseTag">音视频平台创建人</span><span class="BaseTag">安全产品负责人</span></div>
                </div>
                <div style="width:40%">
                    <img width="96%" style="margin-left:4%" src="../../Image/mayi/company_lead.jpg"  class="TransPic"/>
                </div>
            </div>
        </div>
        <div class="tabcontent" tabcontainer="3" style="display:none">
            <div class="flexbox" style="width:96%;margin-left:2%">
                <img width="100%" src="../../Image/mayi/company_stru.png" class="TransPic"/>
            </div>
        </div>
        <div class="tabcontent" tabcontainer="4" style="display:none">
            <div style="width:96%;margin-left:2%">
                <div class="MayiTitle"><span class="PreTitle">.</span>我们的优势</div>
                <div class="flexbox" style="padding:24px 0">
                    <div class="flex1"></div>
                    <div style="width:200px">
                        <div class="BigRound">丰富的大项目管理经验</div>
                        <div class="MayiDesc">团队核心成员主要来自中兴、华为、爱立信等大型研发型公司，具有丰富的大型研发项目管理经验。</div>
                    </div>
                    <div class="flex1"></div>
                    <div style="width:200px">
                        <div class="BigRound">精准的客户需求把握力</div>
                        <div class="MayiDesc">多年的通讯与IT行业服务经验，铸就良好的技术沟通能力，精准把握客户需求并形成全面解决方案。</div>
                    </div>
                    <div class="flex1"></div>
                    <div style="width:200px">
                        <div class="BigRound">精湛的基础软件技术能力</div>
                        <div class="MayiDesc">丰富的通讯核心网产品基础软件研发经验，在与国际顶尖厂商竞争中获得世界前沿技术积累。</div>
                    </div>
                    <div class="flex1"></div>
                    <div style="width:200px">
                        <div class="BigRound">持续的客户服务能力</div>
                        <div class="MayiDesc">稳定的骨干技术团队加上客户服务经验，为客户提供持久可靠的技术保障和持续服务。</div>
                    </div>
                    <div class="flex1"></div>
                </div>
                <div style="height:24px"></div>
            </div>
        </div>
        <div class="tabcontent" tabcontainer="5" style="display:none">
            <div class="flexbox" style="width:96%;margin-left:2%">
                <img width="100%" src="../../Image/mayi/company_xt.png" class="TransPic"/>
            </div>
        </div>
    </div>
</body>
</html>
