<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_mayi_future" lvs_jqexec="lvs_mayi_info">    
        <img width="100%" src="../../Image/mayi/future_head.jpg" class="TransPic"/>
        <div class="MayiTabBox flexbox">
            <div class="MayiTabItem flex1 active" lvs_ref="tab.SelPanel" idxid="1">战略转型</div>
            <div class="MayiTabItem flex1" lvs_ref="tab.SelPanel" idxid="2">发展前景</div>
        </div>
        <div class="tabcontent" tabcontainer="1">
            <div class="flexbox" style="width:96%;margin-left:2%">
                <img width="100%" src="../../Image/mayi/future_1.png" class="TransPic"/>
            </div>
        </div>
        <div class="tabcontent" tabcontainer="2" style="display:none">
            <div class="flexbox" style="width:96%;margin-left:2%">
                <img width="100%" src="../../Image/mayi/futher_2.png" class="TransPic"/>
            </div>
        </div>
    </div>
</body>
</html>
