<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div lvs_component="cn_mayi_product" lvs_jqexec="lvs_mayi_info">    
        <img width="100%" src="../../Image/mayi/product_head.jpg" class="TransPic"/>
        <div class="MayiBigTitle">技术创造精品&nbsp;&nbsp;服务赢得满意</div>
        <div class="MayiCenDesc">南京恩加网络技术有限公司采用灵活的方式为客户提供产品、运营托管、输出服务、深度定制；形成了教育类产品系列和安全类产品系列。</div>
        <div class="MayiTabBox flexbox">
            <div class="MayiTabItem flex1 active" lvs_ref="tab.SelPanel" idxid="1">合作模式</div>
            <div class="MayiTabItem flex1" lvs_ref="tab.SelPanel" idxid="2">教育产品</div>
            <div class="MayiTabItem flex1" lvs_ref="tab.SelPanel" idxid="3">安全产品</div>
            <div class="MayiTabItem flex1" lvs_ref="tab.SelPanel" idxid="4">产品特色</div>
            <div class="MayiTabItem flex1" lvs_ref="tab.SelPanel" idxid="5">客户服务</div>
        </div>
        <div class="tabcontent" tabcontainer="1">
            <div class="flexbox" style="width:96%;margin-left:2%">
                <img width="100%" src="../../Image/mayi/product_mode.png" />
            </div>
        </div>
        <div class="tabcontent" tabcontainer="2" style="display:none">
            <div class="flexbox ButtonTabBox" style="width:92%;margin-left:4%">
                <div style="width:120px">
                    <div class="ButtonTabItem flexbox" idxid="tab1"><img class="TinyUserHead" style="margin-top:8px" src="../../Image/ecrs/Mtab3.png" /><div class="flex1">创新学<br />习平台</div></div>
                    <div class="ButtonTabItem flexbox" idxid="tab2"><img class="TinyUserHead" style="margin-top:8px" src="../../Image/ecrs/Mtab1.png" /><div class="flex1">智慧学<br />习系统</div></div>
                    <div class="ButtonTabItem flexbox" idxid="tab3"><img class="TinyUserHead" style="margin-top:8px" src="../../Image/ecrs/Mtab2.png" /><div class="flex1">音视频<br />平台</div></div>
                    <div class="ButtonTabItem flexbox" idxid="tab4"><img class="TinyUserHead" style="margin-top:8px" src="../../Image/ecrs/Mtab4.png" /><div class="flex1">社区服<br />务平台</div></div>
                </div>
                <div class="flex1">
                    <div class="tabbox" tabcontainer="tab1" style="display:none">
                        <div class="MayiCenDesc" style="text-align:center;padding:24px 0"><img width="60%" src="../../Image/mayi/zaixian.jpg" /></div>
                        <div class="MayiCenTitle">创新学习平台</div>
                        <div class="MayiCenDesc">恩加网络自主研发完成的创新学习平台，是以项目化学习的理念通过完成课题项目的方式完成对创新类课程在线学习、课题任务提交、评价、项目流程管控，同时通过专家和导师的辅导实现全周期学习闭环。<br /><img width="100%" src="../../Image/mayi/xuexi1.jpg" /><br />该平台目前已经在多个项目中为500万+用户提供服务。<br /><br /></div>
                    </div>
                    <div class="tabbox" tabcontainer="tab2" style="display:none">
                        <div class="MayiCenDesc" style="text-align:center;padding:24px 0"><img width="60%" src="../../Image/mayi/zhihui.jpg" /></div>
                        <div class="MayiCenTitle">智慧学习系统</div>
                        <div class="MayiCenDesc">恩加网络智慧学习系统通过对校园内的学习生活全过程进行智能化管理，其中学习过程包括备课、授课、选课、评课、学生管理等，加上全流程成长档案、辅助学习等方式让学生、学校、家庭都获得智能化的学习体验，提升学习效率，让学生宝贵的时间获得最佳的效果。</div>
                    </div>
                    <div class="tabbox" tabcontainer="tab3" style="display:none">
                        <div class="MayiCenDesc" style="text-align:center;padding:24px 0"><img width="60%" src="../../Image/mayi/yinshipin.jpg" /></div>
                        <div class="MayiCenTitle">音视频平台</div>
                        <div class="MayiCenDesc">恩加网络音视频平台通过多类型终端模式接入到系统平台，提供多人音视频、在线直播、慢直播、多路混流等多种音视频解决方案及能力。</div>
                    </div>
                    <div class="tabbox" tabcontainer="tab4" style="display:none">
                        <div class="MayiCenDesc" style="text-align:center;padding:24px 0"><img width="60%" src="../../Image/mayi/shequ.jpg" /></div>
                        <div class="MayiCenTitle">社区服务平台</div>
                        <div class="MayiCenDesc">对社区居民提供聚合服务，包含阅读、课程、文化活动、游学、医疗、康养等。</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabcontent" tabcontainer="3" style="display:none">
            <div class="flexbox ButtonTabBox" style="width:92%;margin-left:4%">
                <div style="width:120px">
                    <div class="ButtonTabItem flexbox" idxid="tab1"><img class="TinyUserHead" style="margin-top:8px" src="../../Image/ecrs/Mtab1.png" /><div class="flex1">安全<br />云电脑</div></div>
                    <div class="ButtonTabItem flexbox" idxid="tab2"><img class="TinyUserHead" style="margin-top:8px" src="../../Image/ecrs/Mtab2.png" /><div class="flex1">下一代<br />防火墙</div></div>
                    <div class="ButtonTabItem flexbox" idxid="tab3"><img class="TinyUserHead" style="margin-top:8px" src="../../Image/ecrs/Mtab3.png" /><div class="flex1">态势感<br />知系统</div></div>
                    <div class="ButtonTabItem flexbox" idxid="tab4"><img class="TinyUserHead" style="margin-top:8px" src="../../Image/ecrs/Mtab4.png" /><div class="flex1">VPN网关</div></div>
                    <div class="ButtonTabItem flexbox" idxid="tab5"><img class="TinyUserHead" style="margin-top:8px" src="../../Image/ecrs/Mtab5.png" /><div class="flex1">IPS/IDS</div></div>
                    <div class="ButtonTabItem flexbox" idxid="tab6"><img class="TinyUserHead" style="margin-top:8px" src="../../Image/ecrs/Mtab6.png" /><div class="flex1">堡垒机</div></div>
                    <div class="ButtonTabItem flexbox" idxid="tab7"><img class="TinyUserHead" style="margin-top:8px" src="../../Image/ecrs/Mtab7.png" /><div class="flex1">容器安全</div></div>
                    <div class="ButtonTabItem flexbox" idxid="tab8"><img class="TinyUserHead" style="margin-top:8px" src="../../Image/ecrs/tab2.png" /><div class="flex1">高级长<br />期威胁</div></div>
                </div>
                <div class="flex1">
                    <div class="tabbox" tabcontainer="tab1" style="display:none">
                        <div class="MayiCenDesc" style="text-align:center;padding:24px 0"><img width="60%" src="../../Image/mayi/yundiannao.jpg" /></div>
                        <div class="MayiCenTitle">安全云电脑</div>
                        <div class="MayiCenDesc">当前中大型企业数字资产管理存在较大的安全问题，IT设备数量庞大，安装、维护、升级耗时耗力耗费，经常成为企业沉重的负担；同时随着在家办公、移动办公的场景增多，信息安全管控更加重要。为此，恩加网络推出了自主研发的安全云电脑系统，为企业提供端到端、全流程、全场景数据安全防护体系，保障在灵活并流畅办公条件下保护企业数字资产和物理资产安全。</div>
                        <div class="MayiCenDesc"><img width="100%" src="../../Image/mayi/yundn1.jpg" /><br /><br /></div>
                    </div>
                    <div class="tabbox" tabcontainer="tab2" style="display:none">
                        <div class="MayiCenDesc" style="text-align:center;padding:24px 0"><img width="60%" src="../../Image/mayi/fanghuq.jpg" /></div>
                        <div class="MayiCenTitle">下一代防火墙</div>
                        <div class="MayiCenDesc">通过入侵防御技术，有效过滤安全威胁，以应用为核心的网络安全策略，构建全方位的边界网络安全防护体系，全面应对应用层威胁的高性能防火墙。</div>
                        <div class="MayiCenDesc">下一代防火墙的执行范例包括阻止与针对细粒度网络安全策略违规情况发出警报，如：使用Web邮件、anonymizer、端到端或计算机远程控制等。仅仅根据目的地IP地址阻止对此类服务的已知源访问再也无法达到安全要求。细粒度策略会要求仅阻止发向其它允许目的地的部分类型的应用通讯，并利用重新导向功能根据明确的黑名单规则使其无法实现该通讯。这就意味着，即使有些应用程序设计可避开检测或采用SSL加密，下一代防火墙依然可识别并阻止此类程序。而业务识别的另外一项优点还包括带宽控制，例：因为拒绝了无用或不允许进入的端到端流量，从而大幅降低了带宽的耗用。</div>
                        <div class="MayiCenDesc">大型企业都将随着正常的防火墙与IPS更新循环的到来逐渐采用下一代防火墙代替其现有的防火墙，或因带宽需求的增高或遭受了攻击而进行防火墙升级。许多防火墙与IPS供应商都已升级了其产品，以提供业务识别与部分下一代防火墙特性，且有许多新兴公司都十分关注下一代防火墙功能。Gartner的研究报告说明，认为随着威胁情况的变化以及业务与IT程序的改变都促使网络安全经理在其下一轮防火墙/IPS更新循环中寻求具有下一代防火墙功能的产品。而下一代防火墙的供应商们成功占有市场的关键则在于需要证明第一代防火墙与IPS特性既可与当前的第一代功能相匹配，又能同时兼具下一代防火墙功能，或具有一定价格优势。</div>
                    </div>
                    <div class="tabbox" tabcontainer="tab3" style="display:none">
                        <div class="MayiCenDesc" style="text-align:center;padding:24px 0"><img width="60%" src="../../Image/mayi/taishi.jpg" /></div>
                        <div class="MayiCenTitle">态势感知系统</div>
                        <div class="MayiCenDesc">自动收集或关联云端、网络、端点数据，进行聚合分析，配合高性能存储、高速索引、自动化驱动响应，安全威胁时快速安全闭环。</div>
                        <div class="MayiCenDesc">应对关键性威胁：快速发现失陷主机；全面的Web安全保障；</div>
                        <div class="MayiCenDesc">提升分析研判能力：分析研判保障事件正确响应处置、逐步完善防御架构；依赖外部威胁情报和本地的流量日志进行有效的分析研判；</div>
                        <div class="MayiCenDesc">信息与情报共享：实现本行业、本领域的网络安全监测预警和信息通报；研判分析和情报共享是预警、预测的基础；</div>
                        <div class="MayiCenDesc">履行行业监管职责：边界流量探针、云监控和外部情报监测等优选检测手段，实现对行业的监管。</div>
                    </div>
                    <div class="tabbox" tabcontainer="tab4" style="display:none">
                        <div class="MayiCenDesc" style="text-align:center;padding:24px 0"><img width="60%" src="../../Image/mayi/fanghuoq.jpg" /></div>
                        <div class="MayiCenTitle">VPN网关</div>
                        <div class="MayiCenDesc">可作为企业的出口网关设备提供移动用户的VPN接入，也可以作为广域网组网的分支VPN接入。</div>
                        <div class="MayiCenDesc">免租专线：ADSL线路即可，即插即用；</div>
                        <div class="MayiCenDesc">网络空间达数十G：公司文件传输系统，大而且好用；</div>
                        <div class="MayiCenDesc">VPN互联：ERP系统，总部与分公司，数据同步；</div>
                        <div class="MayiCenDesc">硬件防火墙：防止黑客攻击，数据传输有保障；</div>
                        <div class="MayiCenDesc">移动办公：出差在外也可接入公司内部网络，一样了解公司的情况；</div>
                        <div class="MayiCenDesc">控制上网：有效控制内网使用。</div>
                        <div class="MayiCenDesc"><img width="100%" src="../../Image/mayi/vpn1.jpg" /></div>

                    </div>
                    <div class="tabbox" tabcontainer="tab5" style="display:none">
                        <div class="MayiCenDesc" style="text-align:center;padding:24px 0"><img width="60%" src="../../Image/mayi/ipsids.jpg" /></div>
                        <div class="MayiCenTitle">IPS/IDS</div>
                        <div class="MayiCenDesc">IPS（入侵防御系统）：入侵防御系统是一部能够监视网络或网络设备的网络资料传输行为的计算机网络安全设备，能够即时的中断、调整或隔离一些不正常或是具有伤害性的网络资料传输行为。</div>
                        <div class="MayiCenDesc">主要功能：<br />实时监测：实时地监视、分析网络中所有的数据报文，发现并实时处理所捕获的数据报文；<br />安全审计：对系统记录的网络事件进行统计分析，发现异常现象，得出系统的安全状态，找出所需要的证据；<br />主动响应：主动切断连接或与防火墙联动，调用其他程序处理。</div>
                        <div class="MayiCenDesc">IDS（入侵检测系统）：入侵检测即通过从网络系统中的若干关键节点收集并分析信息，监控网络中是 否有违反安全策略的行为或者是否存在入侵行为。入侵 检测系统通常包含3个必要的功能组件：信息来源、分析引擎和响应组件。</div>
                        <div class="MayiCenDesc">主要功能：<br />入侵防护：实时、主动拦截黑客攻击、蠕虫、网络病毒、后门木马、Dos等恶意流量，保护企业信息系统和网络架构免受侵害，防止操作系统和应用程序损坏或宕机；<br />Web安全：基于互联网Web站点的挂马检测结果，结合URL信誉评价技术，保护用户在访问被植入木马等恶意代码的网站时不受侵害，及时、有效地第一时间拦截Web威胁；<br />流量控制：阻断一切非授权用户流量，管理合法网络资源的利用，有效保证关键应用全天候畅通无阻，通过保护关键应用带宽来不断提升企业IT产出率和收益率；<br />上网监管：全面监测和管理IM即时通讯、P2P下载、网络游戏、在线视频，以及在线炒股等网络行为，协助企业辨识和限制非授权网络流量，更好地执行企业的安全策略。</div>
                    </div>
                    <div class="tabbox" tabcontainer="tab6" style="display:none">
                        <div class="MayiCenDesc" style="text-align:center;padding:24px 0"><img width="60%" src="../../Image/mayi/baolei.jpg" /></div>
                        <div class="MayiCenTitle">堡垒机</div>
                        <div class="MayiCenDesc">在一个特定的网络环境下，为了保障网络和数据不受来自外部和内部用户的入侵和破坏，而运用各种技术手段监控和记录运维人员对网络内的服务器、网络设备、安全设备、数据库等设备的操作行为，以便集中报警、及时处理及审计定责。</div>
                        <div class="MayiCenDesc">从功能上讲，它综合了核心系统运维和安全审计管控两大主干功能，从技术实现上讲，通过切断终端计算机对网络和服务器资源的直接访问，而采用协议代理的方式，接管了终端计算机对网络和服务器的访问。形象地说，终端计算机对目标的访问，均需要经过运维安全审计的翻译。打一个比方，运维安全审计扮演着看门者的工作，所有对网络设备和服务器的请求都要从这扇大门经过。因此运维安全审计能够拦截非法访问和恶意攻击，对不合法命令进行命令阻断，过滤掉所有对目标设备的非法访问行为，并对内部人员误操作和非法操作进行审计监控，以便事后责任追踪。</div>
                        <div class="MayiCenDesc">安全审计作为企业信息安全建设不可缺少的组成部分，逐渐受到用户的关注，是企业安全体系中的重要环节。同时，安全审计是事前预防、事中预警的有效风险控制手段，也是事后追溯的可靠证据来源。</div>
                        <div class="MayiCenDesc">堡垒机的核心思路是逻辑上将人与目标设备分离，建立“人-〉主账号（堡垒机用户账号）-〉授权—>从账号（目标设备账号）的模式;在这种模式下，基于身份标识，通过集中管控安全策略的账号管理、授权管理和审计，建立针对维护人员的“主账号-〉登录—〉访问操作-〉退出”的全过程完整审计管理，实现对各种运维加密/非加密、图形操作协议的命令级审计。</div>
                    </div>
                    <div class="tabbox" tabcontainer="tab7" style="display:none">
                        <div class="MayiCenDesc" style="text-align:center;padding:24px 0"><img width="60%" src="../../Image/mayi/rongqi.jpg" /></div>
                        <div class="MayiCenTitle">容器安全</div>
                        <div class="MayiCenDesc">通过应用流程、工具和其他相关资源的整体应用，达到为不同层容器的系统或工作负载提供强大的信息安全，并进行下一步的安全防范。容器安全是指保护容器的完整性。这包括从其保管的应用到其所依赖的基础架构等全部内容。容器安全需要完整且持续。通常而言，企业拥有持续的容器安全涵盖两方面：<br />保护容器流水线和应用；<br />保护容器部署环境和基础架构。</div>

                    </div>
                    <div class="tabbox" tabcontainer="tab8" style="display:none">
                        <div class="MayiCenDesc" style="text-align:center;padding:24px 0"><img width="60%" src="../../Image/mayi/changqi.jpg" /></div>
                        <div class="MayiCenTitle">高级长期威胁</div>
                        <div class="MayiCenDesc">隐匿而持久的电脑入侵过程，通常由某些人员精心策划，针对特定的目标。其通常是出于商业或政治动机，针对特定组织或国家，并要求在长时间内保持高隐蔽性。高级长期威胁包含三个要素：高级、长期、威胁。高级强调的是使用复杂精密的恶意软件及技术以利用系统中的漏洞。长期暗指某个外部力量会持续监控特定目标，并从其获取数据。威胁则指人为参与策划的攻击。</div>
                        <div class="MayiCenDesc">恶意软件的变种数以千万计，因此要保护组织团体免于APT攻击极为困难。虽然APT活动十分隐蔽，但与APT相关的命令与控制网络流量却很容易在网络层检测。深入的日志分析和比对有助于检测APT活动。尽管要从正常流量中分离出异常流量有一定难度，但这一工作可以借助完善的日志分析工具来完成，以便安全专家调查异常流量。</div>
                        <div class="MayiCenDesc">高级威胁通常利用定制恶意软件、0Day漏洞或高级逃逸技术，突破防火墙、IPS、AV等基于特征的传统防御检测设备，针对系统未及时修复的已知漏洞、未知漏洞进行攻击。华为APT防御与大数据安全解决方案采用大数据分析方法，采集全网信息，辅助多维风险评估，准确的识别和防御APT攻击，有效避免APT攻击造成用户核心信息资产损失。</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabcontent" tabcontainer="4" style="display:none">
            <div class="flexbox" style="width:96%;margin-left:2%">
                <img width="100%" src="../../Image/mayi/product_ts.png" />
            </div>
        </div>
        <div class="tabcontent" tabcontainer="5" style="display:none">
            <div class="flexbox" style="width:96%;margin-left:2%">
                <img width="100%" src="../../Image/mayi/product_serv.png" class="TransPic"/>
            </div>
        </div>
    </div>
</body>
</html>
